@charset "UTF-8";

.hiragana-map {
  margin: 10px;
  font-size: 0px;
}

.hiragana-map > span:first-child{
  border-left: solid 1px blue;
}

.hiragana-map > span {
  border-top: solid 1px blue;
  border-right: solid 1px blue;
  border-bottom: solid 1px blue;
  font-size: 20px;
  padding: 8px;
  color: black;
}

.hiragana-map > span:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.hiragana-map-small {
  margin: 10px;
  font-size: 0px;
}

.hiragana-map-small > span:first-child {
  border-left: solid 1px blue;
}

.hiragana-map-small > span {
  border-top: solid 1px blue;
  border-right: solid 1px blue;
  border-bottom: solid 1px blue;
  font-size: 15px;
  padding: 8px;
}

.hiragana-map-small > span:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.hiragana-map-list {
  font-size: 15px;
  padding: 8px;
}

.input-panel-child-detail {
  margin-top: 18px;
}

.input-panel-child-title span {
  transform: rotate(0deg);
}


.all-open-close{
  margin-top:18px;
}
