@charset "UTF-8";

.detail-contents:first-child {
  padding-bottom: 0;
}

.detail-contents + .detail-contents {
  padding-top: 0;
}

.description-area {
  display: inline-block;
  width: 99%;
  margin-bottom: 1%;
}

.button-area {
  width: 99%;
  display: inline-block;
  padding: 10px;
}

.button-area .compare-button,
.detail-button,
.detail-button:focus {
  background: linear-gradient(to right, #ed6b00 0%, #fabe00 80%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 220px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  float: right;
  margin-left: 10px;
  text-decoration: none;
  box-sizing: unset;
}

.detail-button:hover {
  cursor: pointer;
  background: linear-gradient(to right, #e60012 0%, #ed6c00 80%);
  color: white;
  text-decoration: none;
}

.sort-button {
  background: white;
  border: 2px #4da0ff solid;
  padding: 7px 10px 7px 10px;
  width: 220px;
  color: #4da0ff;
  font-size: 16px;
  text-align: center;
  float: right;
}

.sort-button:hover {
  cursor: pointer;
  background: #4da0ff;
  color: white;
}

label {
  font-size: 20px;
}

.description-area-left {
  padding: 1%;
  float: left;
  width: 24%;
}

.description-area-right {
  padding: 1%;
  float: right;
  width: 71%;
}

.description-detail {
  font-size: 14px;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
}
.description-detail > div {
  vertical-align: top;
}
.ui-dialog-titlebar {
  color: white;
  background: #4da0ff;
}

.ui-widget-overlay {
  opacity: 0.3;
}

.ui-dialog-title {
  font-size: 25px;
  font-weight: normal;
  overflow: unset !important;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-content {
  font-size: 25px;
}

.dialog-button-area {
  margin-top: 20px;
}

.dialog-button {
  padding: 5px 10px 5px 10px;
  width: 150px !important;
  font-size: 20px !important;
}

.dialog-button.cancel {
  float: left;
  background-color: #d2d0d0;
  color: #3f3f40;
}

.dialog-button.cancel:hover {
  background-color: #ece9e9;
  color: #3f3f40;
}

.dialog-button.enter {
  float: right;
  background-color: #4da0ff;
  color: #ffffff;
}

.dialog-button.enter:hover {
  background-color: #0077ff;
  color: #ffffff;
}

/* 類似検索フォーム 上書き */
.search-keyword-area .input-panel-label:hover {
  cursor: pointer;
}

.search-keyword-area .input-panel-label span {
  transform: rotate(0deg);
}
.input-panel-label:hover{
  cursor: pointer;
	background: linear-gradient(rgba(250,190,0,0.8), rgba(237,107,0,0.8))
}

.keyvisual {
  width:100%
}

.sort-pattern{
  font-size:15px;
}

.multiline-text{
  position: relative;
  height:360px;
  overflow: hidden;
}
.multiline-text:after{
  position: absolute;
  bottom: 0;
  left: 0;
  /* z-index: 2; */
  content: '';
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, 1) 80%);
}
.keyvisualOverlay{
  cursor:pointer;
}
.ui-widget-content .ui-state-hover{
  background:white;
}
.ui-button:hover .ui-icon{
  background-image:initial;
}

.description-detail-category{
  width:70%;
  float:left;
}

.description-detail-button{
  width:30%;
  float:right;
}
