{% extends 'ipdds_app/b00_base.html' %}

{% block page_title %}IP詳細画面{% endblock %}

{% block extra_head %}

<!-- jQuery -->
{% include 'ipdds_app/b01_jquery.html' %}

<!-- jqPlot -->
{% include 'ipdds_app/b02_jqplot.html' %}

<!-- jqGrid -->
{% include 'ipdds_app/b03_jqgrid.html' %}

<!-- bootstrap -->
{% include 'ipdds_app/b04_bootstrap.html' %}

<!-- 共通 -->
{% include 'ipdds_app/b05_common.html' %}
{% include 'ipdds_app/b06_djangoToJs.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'ipdds_app/javascript/common/comparekago.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/03_detail.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/css/03_detail.css' %}">
<link rel="stylesheet" href="{% static 'ipdds_app/css/common/comparekago.css' %}">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="contents" style="display:none">
    {% if object_to_html.ip_not_found %}
    対象のIPは存在しません
    {% else %}
    <div class="contents-2col">
        <div class="ratio-4">
            <h4>{{ object_to_html.ip_data.ip_name }}</h4>
            <div id="id_msg_not_select" style="display:none;"></div>
            <div class="compare-kago-detail-add">
                <label class="compare-kago-add" style="display:none;">
                    <input type="checkbox" ip_name="{{ object_to_html.ip_data.ip_name }}" keyvisual="{{ object_to_html.ip_data.keyvisual_file_name }}" value="{{ object_to_html.ip_data.ip_code }}"
                        class="compare-kago-checkbox">
                    <span class="compare-kago-button-add">かごに入れる</span>
                </label>
            </div>
            <div class="detail-area">
                <div class="description-area">
                    <div class="description-area-left">
                        <img onload="KeyVisualUtil.execute()" onerror="KeyVisualUtil.notFound()"
                            src="/static/ipdds_app/image/keyvisual/{{ object_to_html.ip_data.ip_code }}/{{ object_to_html.ip_data.keyvisual_file_name }}" class="keyvisual" data-attention="true">
                        <div class="description-area-left-detail">
                            {% if object_to_html.broadcast %}
                            <strong>放送期間</strong>
                            {% endif %}
                            {% for obj in object_to_html.broadcast %}
                            <div class="broadcast">
                                {{ obj.period | safe }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="description-area-left-detail">
                            {% if object_to_html.broadcast %}
                            <strong>主要放送局</strong>
                            {% endif %}
                            {% for obj in object_to_html.broadcast %}
                            <div class="broadcast">
                                {{ obj.broadcaster | safe }}
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="description-area-right">
                        <h5>{{ object_to_html.ip_data.ip_name }}</h5>
                        <div class="description-detail">
                            <div class="overview">
                                <div class="spacer_8"></div>
                                {{ object_to_html.ip_data.overview | safe }}
                                <div class="spacer_8"></div>
                            </div>
                            <div>
                                <strong>タグ一覧</strong>
                                <div class="spacer_4"></div>
                                <div class="category">
                                    <!-- 分類 -->
                                    {% ifequal object_to_html.ip_data.tag.category.0 "True" %}
                                    <a class="tag anime" href="/ipdds/search_result?name_category=0">アニメ</a>
                                    {% endifequal %}
                                    {% ifequal object_to_html.ip_data.tag.category.1 "True" %}
                                    <a class="tag manga" href="/ipdds/search_result?name_category=1">マンガ</a>
                                    {% endifequal %}
                                    {% ifequal object_to_html.ip_data.tag.category.2 "True" %}
                                    <a class="tag app" href="/ipdds/search_result?name_category=2">アプリ</a>
                                    {% endifequal %}
                                    {% ifequal object_to_html.ip_data.tag.category.3 "True" %}
                                    <a class="tag game" href="/ipdds/search_result?name_category=3">ゲーム</a>
                                    {% endifequal %}
                                    {% ifequal object_to_html.ip_data.tag.category.4 "True" %}
                                    <a class="tag theater" href="/ipdds/search_result?name_category=4">劇場</a>
                                    {% endifequal %}
                                </div>
                                <div class="category">
                                    <!-- ジャンル -->
                                    {% for obj in object_to_html.ip_data.tag.core %}
                                    <a class="tag " href="/ipdds/search_result?name_core={{obj.code}}">{{obj.name}}</a>
                                    {% endfor %}
                                    <!-- 掲載媒体 -->
                                    {% if object_to_html.ip_data.tag.media.code %}
                                    <a class="tag " href="/ipdds/search_result?name_media={{object_to_html.ip_data.tag.media.code}}">{{object_to_html.ip_data.tag.media.name}}</a>
                                    {% endif %}
                                    <!-- 印象 -->
                                    {% for obj in object_to_html.ip_data.tag.imp %}
                                    <a class="tag " href="/ipdds/search_result?name_imp={{obj.code}}">{{obj.name}}</a>
                                    {% endfor %}
                                    <!-- 現実フラグ -->
                                    {% if object_to_html.ip_data.tag.fiction_flag is True %}
                                    <a class="tag " href="/ipdds/search_result?name_fiction_flag=1">非現実的</a>
                                    {% endif %}
                                    {% if object_to_html.ip_data.tag.fiction_flag is False %}
                                    <a class="tag " href="/ipdds/search_result?name_fiction_flag=0">現実的</a>
                                    {% endif %}
                                </div>
                                <div class="category">
                                    <!-- 事実メタ -->
                                    {% for obj in object_to_html.ip_data.tag.fact_tag %}
                                    <a class="tag " href="/ipdds/search_result?name_fact_tag={{obj.code}}">{{obj.name}}</a>
                                    {% endfor %}
                                </div>
                                <div class="spacer_8"></div>
                            </div>
                            {% if object_to_html.ip_data.detail_indivisual_item.is_exist_gender_ratio%}
                            <div>
                                <strong>年代別男女比</strong>
                                <div class="spacer_4"></div>
                                <div>
                                    <div class="gender-ratio-table"></div>
                                    <div id="gender-ratio-graph"></div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="spacer_8"></div>
                            {% if object_to_html.ip_data.buy_together %}
                            <strong>このマンガを買った人は下記作品も買っています </strong>
                            <div class="spacer_4"></div>
                            <table class="ipdds-table">
                                <tr>
                                    <td>IP名</td>
                                    <td>作者</td>
                                    <td>出版社</td>
                                </tr>
                                {% for obj in object_to_html.ip_data.buy_together %}
                                <tr>
                                    <td>
                                        {% if obj.ip_code %}
                                        <a class="link" href="/ipdds/detail?ip_code={{ obj.ip_code }}">{{ obj.ip_name }}</a>
                                        {% else %}
                                        {{ obj.ip_name }}
                                        {% endif %}
                                    </td>
                                    <td>{{ obj.author }}</td>
                                    <td>{{ obj.publisher }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}

                            <div class="spacer_8"></div>
                            <strong>窓口</strong>
                            <div class="spacer_4"></div>
                            <div class="proposal">
                                <div class="proposal-label">国内商品化窓口</div>
                                <div class="proposal-value">
                                    {{ object_to_html.ip_data.detail_indivisual_item.domestic_window | linebreaksbr }}</div>
                                <div class="proposal-label">国外商品化窓口</div>
                                <div class="proposal-value">
                                    {{ object_to_html.ip_data.detail_indivisual_item.foreign_window | linebreaksbr }}</div>
                            </div>
                            <div class="spacer_8"></div>
                            <strong>メモ</strong>
                            <div class="spacer_4"></div>
                            <textarea readonly class="textarea">{{ object_to_html.ip_data.detail_indivisual_item.memo }}</textarea>
                            <div class="spacer_8"></div>
                            {% if object_to_html.related_documents %}
                            <strong>関連文書</strong>
                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_002"></i>
                            <div class="spacer_4"></div>
                            <table class="ipdds-table">
                                <tr>
                                    <td>年代</td>
                                    <td>カテゴリ</td>
                                    <td>ファイル</td>
                                </tr>
                                {% for obj in object_to_html.related_documents %}
                                <tr>
                                    <td>{{ obj.year }}年度</td>
                                    <td>{{ obj.whitepaper_category }}</td>
                                    <td>
                                        <a class="link" onclick="window.open('/static/ipdds_app/file/whitepaper/{{ obj.id }}/{{ obj.file_name }}')">{{ obj.file_name }}</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if object_to_html.ip_data.detail_indivisual_item.is_exist_manga_db%}
                <div class="mangaDB-area">
                    <h5>マンガDB
                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_003"></i>
                    </h5>
                    <div class="main">
                        <strong>一般情報</strong>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">作者名</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.author | default:"ー" }}</div>
                            <div class="mangaDB-label medium">作画</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.artist | default:"ー"}}</div>
                            <div class="mangaDB-label medium">原作者名</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.original_author | default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">過去連載作品</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series | default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">作者備考</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.author_note | default:"ー"}}</div>
                        </div>

                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">出版社</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.publisher | default:"ー"}}</div>
                            <div class="mangaDB-label medium">連載開始年月</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.series_start_yyyymm | default:"ー"}}</div>
                            <div class="mangaDB-label medium">既刊</div>
                            <div class="mangaDB-value">{{ object_to_html.ip_data.book_series.0.published_num | default:"ー"}}
                            </div>
                            <div class="mangaDB-label medium">連載終了フラグ</div>
                            <div class="mangaDB-value">{{ object_to_html.ip_data.detail_indivisual_item.series_end_flag }}
                            </div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">作品受賞歴</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.award_history | default:"ー"}}</div>
                        </div>
                        <div class="spacer_8"></div>
                        <strong>過去作品情報</strong>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label medium">原作者過去作品</div>
                            <div class="mangaDB-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.original_auther_past_art | default:"ー"}}
                            </div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label">TVアニメ</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_tv_anime }}</div>
                            <div class="mangaDB-label ">実写ドラマ</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_live_action_drama }}</div>
                            <div class="mangaDB-label">実写映画</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_live_action_film }}</div>
                            <div class="mangaDB-label">アニメ映画</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_anime_film }}</div>
                            <div class="mangaDB-label">舞台</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_stage }}</div>
                            <div class="mangaDB-label">ゲーム</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_game }}</div>
                            <div class="mangaDB-label">小説</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_novel }}</div>
                            <div class="mangaDB-label">左記以外</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.past_series_other }}</div>
                        </div>
                        <div class="spacer_8"></div>
                        <strong>マンガアプリ情報</strong>
                        <div class="spacer_4"></div>
                        <div class="mangaDB-table">
                            <div class="mangaDB-label">LINEマンガ</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_line_manga }}</div>
                            <div class="mangaDB-label ">comico</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_comico }}</div>
                            <div class="mangaDB-label">マンガワン</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_manga_one }}</div>
                            <div class="mangaDB-label xsmall">マンガボックス</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_manga_one_box }}</div>
                            <div class="mangaDB-label xsmall">少年ジャンプ＋</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_shounen_jump_plus }}</div>
                            <div class="mangaDB-label">GANMA!</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_ganma }}</div>
                            <div class="mangaDB-label">ガンガンpixiv</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_gangan_pixiv }}</div>
                            <div class="mangaDB-label">その他</div>
                            <div class="mangaDB-value small">
                                {{ object_to_html.ip_data.detail_indivisual_item.web_app_other }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if object_to_html.ip_data.detail_indivisual_item.is_exist_twitter%}
                <div class="twitter-area">
                    <h5>Twitter
                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_004"></i>
                    </h5>
                    <div class="graph-left">
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">アカウント名</div>
                            <div class="book-area-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.twitter_account_name   |default:"ー"}}</div>
                        </div>
                        <div class="spacer_16"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">最新のフォロワー数</div>
                            <div class="book-area-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.twitter_latest_follower_count   |default:"ー"}}
                            </div>
                        </div>
                        <div class="spacer_16"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">三か月前のフォロワー数</div>
                            <div class="book-area-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.twitter_3months_ago_follower_count   |default:"ー"}}
                            </div>
                        </div>
                        <div class="spacer_16"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">一年前のフォロワー数</div>
                            <div class="book-area-value">
                                {{ object_to_html.ip_data.detail_indivisual_item.twitter_1year_ago_follower_count   |default:"ー"}}
                            </div>
                        </div>
                        <div class="spacer_16"></div>
                        <div class="twitter-area-left">
                            <button class="twitter-button-area" onclick="window.open('{{ object_to_html.ip_data.detail_indivisual_item.user_name }}')">
                                <i class="fab fa-twitter-square" style="font-size: 23px"></i>Twitterアカウントはこちら
                            </button>
                        </div>
                    </div>
                    <div class="graph-right">
                        <div id="twiter-follower-graph"></div>
                    </div>
                </div>
                {% endif %}
                {% if object_to_html.ip_data.detail_indivisual_item.is_exist_book%}
                <div class="book-area">
                    <h5>マンガ
                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_005"></i>
                    </h5>
                    <div class="graph-left">
                        <div class="spacer_16"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">１巻の累計発行部数</div>
                            <div class="book-area-value">
                                {% if object_to_html.ip_data.book_volume.0.qty_total_sales_2 %}
                                {{ object_to_html.ip_data.book_volume.0.qty_total_sales_2 | add:" 部" }}
                                {% else %}
                                ー
                                {% endif %}
                            </div>
                        </div>
                        <div>（{{ object_to_html.ip_data.book_volume.0.book_name  |default:"ー"}}）</div>
                        <div class="spacer_8"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">最新刊の累計発行部数</div>
                            <div class="book-area-value">
                                {% if object_to_html.ip_data.book_volume.1.qty_total_sales_2 %}
                                {{ object_to_html.ip_data.book_volume.1.qty_total_sales_2 | add:" 部" }}
                                {% else %}
                                ー
                                {% endif %}
                            </div>
                        </div>
                        <div>（{{ object_to_html.ip_data.book_volume.1.book_name  |default:"ー"}}）</div>
                        <div class="spacer_8"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">単巻あたりの平均発行部数</div>
                            <div class="book-area-value">
                                {% if object_to_html.ip_data.book_series.0.avg_per_volume %}
                                {{ object_to_html.ip_data.book_series.0.avg_per_volume | add:" 部" }}
                                {% else %}
                                ー
                                {% endif %}
                            </div>
                        </div>
                        <div class="spacer_18"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">累計発行部数</div>
                            <div class="book-area-value">
                                {% if object_to_html.ip_data.book_series.0.qty_total_sales_2 %}
                                {{ object_to_html.ip_data.book_series.0.qty_total_sales_2 | add:" 部" }}
                                {% else %}
                                ー
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="graph-right">
                        <div id="book-graph"></div>
                    </div>
                </div>
                {% endif %}
                {%if object_to_html.game_area %}
                <div class="game-area">
                    <h5>ゲーム
                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_006"></i>
                    </h5>
                    <div class="graph-left">
                        {% for obj in object_to_html.game_area %}
                        <strong>{{ obj.game_data.pkg_soft_name |default:"ー"}}</strong> <br>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">対応機種</div>
                            <div class="book-area-value">{{ obj.game_data.platform_name  |default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">発売元</div>
                            <div class="book-area-value">{{ obj.game_data.distributor_name  |default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">発売日</div>
                            <div class="book-area-value">{{ obj.game_data.release_date  |default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">売上累計本数</div>
                            <div class="book-area-value">{{ obj.game_data.qty_total_sales  |default:"ー"}}</div>
                        </div>
                        <div class="spacer_8"></div>
                        {% endfor %}
                    </div>
                    <div class="graph-right">
                        <div id="game-graph"></div>
                    </div>
                </div>
                {% endif %}
                {%if object_to_html.app_area %}
                <div class="app-area">
                    <h5>アプリ
                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_007"></i>
                    </h5>
                    <div class="graph-left">
                        {% for obj in object_to_html.app_area %}
                        <strong>{{ obj.app_data.app_name |default:"ー"}}</strong> <br>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">対応機種</div>
                            <div class="book-area-value">{{ obj.app_data.platform_name | default:"ー" }}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">発売元</div>
                            <div class="book-area-value">{{ obj.app_data.distributor_name  | default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">発売日</div>
                            <div class="book-area-value">{{ obj.app_data.start_date  | default:"ー"}}</div>
                        </div>
                        <div class="spacer_4"></div>
                        <div class="book-area-left">
                            <div class="book-area-label">直近3か月の月商平均</div>
                            <div class="book-area-value">
                                {% if obj.last_three_months_sales%}
                                {{ "$ "| add:obj.last_three_months_sales }}
                                {% else %}
                                ー
                                {% endif %}
                            </div>
                        </div>
                        <div class="spacer_8"></div>
                        {% endfor %}
                    </div>

                    <div class="graph-right">
                        <div id="app-graph-download"></div>
                        <div class="spacer_16"></div>
                        <div id="app-graph-sales"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="ratio-1">
            <div>
                <h4>比較かご
                    <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_002"></i>
                </h4>
                <div class="compare-kago-list">
                    <div class="not_found_item" style="display:none;">かごに作品を入れて比較してみよう！</div>
                    <div class="compare-kago-list-contents"></div>
                    <div class="compare-kago-list-button" style="display:none;">
                        <hr id="compare-kago-hr">
                        <div class="compare-button-area">
                            <a class="btn-border-orange compare-kago-button-submit" href="/ipdds/compare?">かごの中身を比較する</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if object_to_html.ip_data.detail_indivisual_item.is_exist_manga_db%}
            <div class="spacer_16"></div>
            <div>
                <h4>類似作品
                    <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_001"></i>
                </h4>
                <div class="similar-ip-list"></div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% csrf_token %}
{% endblock %}