{% extends 'ipdds_app/b00_base.html' %}

{% block page_title %} 類似検索画面 {% endblock %}

{% block extra_head %}

<!-- jQuery -->
{% include './b01_jquery.html' %}

<!-- bootstrap -->
{% include './b04_bootstrap.html' %}

<!-- 共通 -->
{% include './b05_common.html' %}
{% include 'ipdds_app/b06_djangoToJs.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'ipdds_app/javascript/common/comparekago.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/06_similar_search.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/css/06_similar_search.css' %}" />
<link rel="stylesheet" href="{% static 'ipdds_app/css/common/comparekago.css' %}">
{% endblock %} {% block content %}

<div class="contents" style="display:none">
    <div class="contents-2col">
        <div class="ratio-4">
            <h4>検索条件</h4>
            <div class="detail-contents">
                <form action="{% url 'ipdds_app:05_search_result' %}" method="POST">
                    {% csrf_token %}
                    <div class="detail-area">
                        <div class="search-keyword-area">
                            <div class="input-panel-label">
                                <span>▼</span>
                                キーワード検索
                                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_009"></i>
                            </div>
                            <div class="input-panel-body"></div>
                        </div>

                        <div class="search-similar-area">
                            <div class="input-panel-label">
                                <span>▼</span>
                                類似検索
                                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_001"></i>
                            </div>
                            <div class="input-panel-body" style="display:none">
                                <div class="search-similar-item">
                                    <div class="all-uncheck  btn-border-orange">すべてチェックを外す</div>
                                    <div class="input-panel-table">
                                        <div class="category-label">分類
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_003"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="0" class="checkbox-none anime" name="name_category" />
                                                        <span class="label">アニメ</span>
                                                    </label>
                                                </div>
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="1" class="checkbox-none manga" name="name_category" />
                                                        <span class="label">マンガ</span>
                                                    </label>
                                                </div>
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="2" class="checkbox-none app" name="name_category" />
                                                        <span class="label">アプリ</span>
                                                    </label>
                                                </div>
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="3" class="checkbox-none game" name="name_category" />
                                                        <span class="label">ゲーム</span>
                                                    </label>
                                                </div>
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="4" class="checkbox-none theater" name="name_category" />
                                                        <span class="label">劇場</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-panel-table">
                                        <div class="category-label">ジャンル
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_004"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                {% for obj in object_to_html.core %}
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="{{ obj.core_code }}" class="checkbox-none" name="name_core" />
                                                        <span class="label">{{ obj.core_name }}</span>
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-panel-table">
                                        <div class="category-label">掲載媒体
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_005"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                {% for obj in object_to_html.media %}
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="{{ obj.media_code }}" class="checkbox-none" name="name_media" />
                                                        <span class="label">{{ obj.media_name }}</span>
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-panel-table">
                                        <div class="category-label">印象
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_006"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                {% for obj in object_to_html.imp %}
                                                <div class="checkbox-radio-group">
                                                    {% for obj2 in obj %}
                                                    <div class="select-item">
                                                        <label><input type="checkbox" value="{{ obj2.imp_code }}" class="checkbox-none checkbox-radio" name="name_imp" />
                                                            <span class="label">{{ obj2.imp_name }}</span>
                                                        </label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-panel-table">
                                        <div class="category-label">現実フラグ
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_007"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                <div class="select-item">
                                                    <label><input type="radio" name="name_fiction_flag" value="0" class="checkbox-none can-release" />
                                                        <span class="label">現実的</span>
                                                    </label>
                                                </div>
                                                <div class="select-item">
                                                    <label><input type="radio" name="name_fiction_flag" value="1" class="checkbox-none can-release" />
                                                        <span class="label">非現実的</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="input-panel-table">
                                <div class="category-label">事実メタ</div>
                                <div class="value">
                                    <div class="select-contents">
                                        <div class="all-open-close btn-border-orange">全表示/非表示</div>
                                        {% for key, value in object_to_html.fact_tag.items %}
                                        <div class="input-panel-child-detail">
                                            <div class="input-panel-child-title">
                                                <span>▼</span>
                                                {{ key }}
                                            </div>
                                            <div class="input-panel-child-value">
                                                {% for obj in value %}
                                                <div class="select-item">
                                                    <label><input type="checkbox" value="{{ obj.fact_tag_code }}"
                                                            class="checkbox-none" name="name_fact_tag" />
                                                        <span class="label">{{ obj.fact_tag_name }}</span>
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> -->
                                    <div class="input-panel-table">
                                        <div class="category-label">展開時期
                                            <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_008"></i>
                                        </div>
                                        <div class="value">
                                            <div class="select-contents">
                                                <div class="date-area">
                                                    <select class="date-year" name="name_start_date">
                                                    </select>
                                                    年
                                                    <span class="spacer1"></span>
                                                    <select class="date-month" name="name_start_date">
                                                    </select>
                                                    月
                                                    <span class="spacer1"></span>
                                                    <select class="date-day" name="name_start_date">
                                                    </select>
                                                    日
                                                    <span class="spacer1"></span>
                                                    ～
                                                    <span class="spacer2"></span>
                                                    <select class="date-year" name="name_end_date">
                                                    </select>
                                                    年
                                                    <span class="spacer1"></span>
                                                    <select class="date-month" name="name_end_date">
                                                    </select>
                                                    月
                                                    <span class="spacer1"></span>
                                                    <select class="date-day" name="name_end_date">
                                                    </select>
                                                    日
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="search-button-area">
                            <div class="search-button">
                                <button class="button-blue" type="submit">
                                    <i class="icon-search icon-white"></i>&nbsp;検索する
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="ratio-1">
            <h4>比較かご
                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_002"></i>
            </h4>
            <div class="compare-kago-list">
                <div class="not_found_item" style="display:none;">かごに作品を入れて比較してみよう！</div>
                <div class="compare-kago-list-contents"></div>
                <div class="compare-kago-list-button" style="display:none;">
                    <hr id="compare-kago-hr">
                    <div class="compare-button-area">
                        <a class="btn-border-orange compare-kago-button-submit" href="/ipdds/compare?">かごの中身を比較する</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}