{% extends 'ipdds_app/b00_base.html' %}

{% block page_title %} 作品一覧（年代順）画面 {% endblock %}

{% block extra_head %}

<!-- jQuery -->
{% include './b01_jquery.html' %}

<!-- bootstrap -->
{% include './b04_bootstrap.html' %}

<!-- 共通 -->
{% include './b05_common.html' %}
{% include 'ipdds_app/b06_djangoToJs.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'ipdds_app/javascript/07_age_search.js' %}"></script>

{% endblock %} {% block content %}

<div class="contents">
  <h4>作品一覧（年代順）</h4>
  <div class="detail-contents">
    <div class="detail-area">
      <div class="spacer_8"></div>
      {% for key,value in object_to_html.search_age.items %}
      {% ifnotequal key "" %}
      <div class="input-panel-table">
        <div class="category-label">{{key}}年</div>
        <div class="value">
          <div class="select-contents link-list">
            {% for obj in value %}
            <a class="link" href="{% url 'ipdds_app:03_detail' %}?ip_code={{ obj.ip_code }}">{{ obj.ip_name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endifnotequal %}
      {% endfor %}
      <div class="spacer_16"></div>
    </div>
  </div>
</div>
{% endblock %}