{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" type="image/png" href="{% static 'ipdds_app/image/i-note_logo.png' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        var tag = "{{ GA_TAG }}"
    </script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% if ENV_NAME %}
    <div style="position: absolute; text-align: right; width: 98%; top: 3px;">{{ ENV_NAME }}</div>
    {% endif %}
    <div id="header">
        <div class="header1">
            <a href="/ipdds/home" class="logo1">
                <img src="/static/ipdds_app/image/i-note_logo.png">
            </a>
            <!-- <div class="title"></div> -->
        </div>
        <div class="header2">
            <div class="header-logo">
                <a href="/ipdds/home" class="logo2">
                    <img src="/static/ipdds_app/image/logo-bandainamco.png">
                </a>
            </div>
            <div class="header-info">
                <a class="link-pdf" onclick="TransitionUtil.transition('/static/ipdds_app/file/info_file/アイノテについて.pdf')">
                    <i class="far fa-question-circle"></i>
                    i-noteとは・・・</a>
            </div>
            <div class="header-info">
                <a class="link-pdf"
                    onclick="TransitionUtil.transition('https://forms.office.com/Pages/ResponsePage.aspx?id=q7kiOCyrIE-ozavmrJhsN7rqdkdxo2hGsn7Dc_9s53hUMlBMQlFVVEQ1UVJKSVcyRkE2WkxZN1M4WC4u')">
                    <i class="far fa-file-alt"></i>
                    作品追加依頼はこちらから</a>
            </div>

            <div class="search-area">
                <form action="{% url 'ipdds_app:05_search_result' %}" method="GET">
                    <input id="id_search_input_text" type="text" name="name_keyword" placeholder="「タイトル」または「キーワード」を検索してください" /><button id="id_search_input_button" class="button-blue">
                        <i class="icon-search icon-white"></i>&nbsp;
                    </button><i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_COMMON_001"></i>
                    {% csrf_token %}
                </form>
            </div>

            <div class="link-tab">
                <a href="/ipdds/link_collection" class="linkCollection">リンク集</a>
                <a href="/ipdds/age_search" class="age">年代</a>
                <a href="/ipdds/title_search" class="keyword">作品一覧</a>
                <a href="/ipdds/compare" class="compare">比較</a>
                <a href="/ipdds/similar_search" class="similar">検索</a>
                <a href="/ipdds/home" class="home">HOME</a>
            </div>
        </div>
        <div class="boder"></div>
    </div>
    {% block content %}{% endblock %}
    <div id="footer"></div>
</body>

</html>