{% load static %}
<!-- jqPlot -->
<script src="{% static 'ipdds_app/lib/jquery/jqplot/jquery.jqplot.min.js' %}"></script>
<script  src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.cursor.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.highlighter.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.dateAxisRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.canvasTextRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.canvasAxisTickRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.pyramidGridRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.pyramidAxisRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.pyramidRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.barRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.categoryAxisRenderer.js' %}"></script>
<script src="{% static 'ipdds_app/lib/jquery/jqplot/plugins/jqplot.pointLabels.js' %}"></script>

<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'ipdds_app/lib/jquery/jqplot/jquery.jqplot.min.css' %}"
/>
