{% load static %}
<!-- 共通 -->
<script src="{% static 'ipdds_app/javascript/common/common.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/keyvisual.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/stringUtil.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/plot.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/grid.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/loading.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/tooltip.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/common/tooltip_constants.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/css/common/common.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/css/common/loading.css' %}" />
<link href="{% static 'ipdds_app/lib/fa/css/all.min.css' %}" rel="stylesheet">