{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}タグ情報 編集画面{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- ツールチープ -->
{% include 'admin_app/base/b16_create_tooltip.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/10_sakuhin_tag/21023_sakuhin_tag_update.js' %}"></script>
</head>
{% endblock %}

{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}
<div class="contents">
    {% if object_to_html.insert_error_name %}
    <div class="status-msg submit-error-msg">同一タグ名で既にタグ情報が登録されているため、編集を行うことが出来ませんでした。</div>
    {% endif %}
    <h4>タグ情報 編集</h4>
    <form action="{% url 'admin_app:21023_sakuhin_tag_update' %}?tagc={{object_to_html.form.tag_code}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th class="required">タグコード</th>
                        <td>
                            {% if object_to_html.errors.tag_code %}
                            {% for obj in object_to_html.errors.tag_code %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            <input type="text" class="small input-disabled" readonly value="{{ object_to_html.form.tag_update_form.tag_code }}" name="tag_code" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">タグカテゴリ名</th>
                        <td>
                            {% if object_to_html.errors.sakuhin_tag_category_code %}
                            {% for obj in object_to_html.errors.sakuhin_tag_category_code %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            <select name="sakuhin_tag_category_code" id="filter-category-select" class="search-category-tag">
                                {% for obj in object_to_html.form.sakuhin_tag_category %}
                                <option value="{{ obj.sakuhin_tag_category_code | default_if_none:''}}"
                                {% ifequal object_to_html.form.tag_update_form.sakuhin_tag_category_code obj.sakuhin_tag_category_code %} 
                                selected="selected" 
                                {% endifequal %}>
                                    {{ obj.sakuhin_tag_category_name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th class="required">タグ名</th>
                        <td>
                            {% if object_to_html.errors.tag_name %}
                            {% for obj in object_to_html.errors.tag_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【15文字以内】で入力してください。
                            <br>
                            <input type="text" class="middle" value="{{ object_to_html.form.tag_update_form.tag_name | default_if_none:''}}" name="tag_name" />
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}