@charset "UTF-8";

html {
  margin: 15px;
  overflow-y: scroll;
}

body {
  width: calc(1920px - (100vw - 100%));
}

#footer {
  margin-bottom: 10px;
}

.header1 {
  width: 6%;
  float: left;
}

.header2 {
  width: 94%;
  float: right;
}

.header-logo {
  margin: 5px 5px 20px 5px;
  float: right;
}

.header-info {
  margin: 5px 40px 20px 5px;
  font-size: 18px;
  float: right;
}

.header-info a {
  display: block;
  height: 25px;
  padding: 10px;
  line-height: 25px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(#fabe00, #ed6b00);
  color: white;
}

.header-info i {
  margin-right: 10px;
  color: white;
}

.link-pdf {
  cursor: pointer;
  color: #08c;
  text-decoration: none;
}

.link-pdf:hover {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}

.logo1 {
  padding: 5px 5px 5px 5px;
  float: left;
}
.logo2 {
  display: inline-block;
}

.header1 img {
  width: auto;
  float: left;
}

.header3 img {
  width: auto;
  float: left;
}

.header3 .title {
  display: table-cell;
  height: 65px;
  vertical-align: middle;
  padding-left: 15px;
  font-size: x-large;
}

.header2 form{
  margin: 0px;
}

.link-tab {
  clear: both;
}

.link-tab a,.link-tab a:focus,.link-tab div {
  width: 10%;
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  background: linear-gradient(#d8d2d2, #989592);
  color: #484747;
  border-top: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  border-bottom: solid 1px #ed6c00;
  float: right;
  text-decoration: none;
}

.link-tab .linkCollection,
.link-tab .age,
.link-tab .keyword,
.link-tab .compare,
.link-tab .similar,
.link-tab .home {
  cursor: pointer;
}

.link-tab .linkCollection:hover,
.link-tab .similar:hover,
.link-tab .keyword:hover,
.link-tab .age:hover,
.link-tab .compare:hover,
.link-tab .search:hover,
.link-tab .home:hover {
  background: linear-gradient(#eca2a0, #ed6c00);
  border: solid 1px #ed6c00;
  color: white;
  cursor: pointer;
}

.link-tab .selected {
  background: linear-gradient(#eca2a0, #ed6c00);
  border: solid 1px #ed6c00;
  color: white;
}

ul.child {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.child > li {
  width: 200px;
  display: list-item;
}

.child > li > a,.child > li > a:focus {
  font-size: 15px;
}

.boder {
  height: 5px;
  float: none;
  clear: both;
  background-color: #ed6c00;
  margin-top: 5px;
}

h4 {
  border-left: 15px solid;
  border-bottom: 2px solid;
  padding: 7px;
  border-image: linear-gradient(to right, #e60012 0%, #fabe03 100%);
  border-image-slice: 1;
}

h5 {
  border-left: 15px solid;
  border-bottom: 2px solid;
  padding: 7px;
  border-image: linear-gradient(to right, #fabe03 0%, #e60012 100%);
  border-image-slice: 1;
  font-size: 16px;
  height: 16px;
}

.contents {
  margin: 30px 20px 30px 20px;
  padding: 0px 100px 0px 100px;
  overflow: hidden;
  min-height: calc(100vh - 207px); 
}

.detail-contents {
  padding: 20px 0px;
}

h4 + div{
  margin: 1%;
}

.spacer_4 {
  padding: 4px;
}

.spacer_8 {
  padding: 8px;
}

.spacer_16 {
  padding: 16px;
}

.spacer_18{
  padding: 18px;
}

strong {
  text-decoration: underline;
  font-size: 16px;
}

/* タグ */
.tag,
.tag:focus {
  background-color: #f49393;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  margin: 2px;
  color: white;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.tag:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

.anime,
.anime:focus {
  background-color: #0ec143;
}

.manga,
.manga:focus {
  background-color: #ca7a08;
}

.app,
.app:focus {
  background-color: #4664ef;
}

.game,
.game:focus {
  background-color: #080808;
}

.theater,
.theater:focus {
  background-color: #3f03bb;
}
.matched{
  background-color:#0180ca;
}

/* リンク */
.link, .ui-widget-content .link, .ui-widget-content .ui-state-highlight .link {
  list-style: none;
  cursor: pointer;
  margin: 10px;
  color: #08c;
}
 
.link:hover, .ui-widget-content .link:hover {
  color: #f39700;
  text-decoration: none;
}

/* ipdds-table */
.ipdds-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.ipdds-table tr:first-child td:first-child {
  border-radius: 5px 0 0 0;
}

.ipdds-table tr:first-child td:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #ed6c00;
}

.ipdds-table tr:first-child {
  text-align: center;
  color: black;
  background: linear-gradient(#ffecb0, #ed6c00);
  border-left: 1px solid #ed6c00;
  border-top: 1px solid #ed6c00;
  border-bottom: 1px solid #ed6c00;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  height: 50px;
}

.ipdds-table td {
  text-align: center;
  border-left: 1px solid #ed6c00;
  border-bottom: 1px solid #ed6c00;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
}

.ipdds-table td:last-child {
  border-right: 1px solid #ed6c00;
}

.ipdds-table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

.ipdds-table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
.ipdds-table tr:first-child td{
  border-top: 1px solid #ed6c00;
}

/* input-panel(入力のあるパネル) */
.input-panel-label {
  padding: 10px;
  border: solid 1px #ed6b00;
  background: linear-gradient(#fabe00, #ed6b00);
  color: #ffffff;
  font-size: 16px;
}

.input-panel-body {
  padding: 10px;
  border: solid 1px #ed6b00;
  background-color: #ffffff;
}
.input-panel-child-detail {
  margin: 10px;
}

.input-panel-child-title {
  padding: 5px;
  background-color: #ed6c00;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #ed6c00;
  cursor: pointer;
}
.input-panel-child-title:hover{
  opacity: 0.8;
}
.input-panel-child-value {
  border: solid 1px #ed6b00;
}

/* 類似検索 */

.selectPanel {
  padding: 10px;
  margin: 10px;
  background-color: #ed6b00;
  color: #f9db86;
}

.search-keyword-area,
.search-similar-area {
  margin: 10px;
}

.search-keyword-text {
  display: block;
}

.search-keyword-area .input-panel-body input[type="text"] {
  width: calc(100% - 200px);
  margin: 10px;
  padding: 10px;
}

.keyword-button-area {
  display: inline-block;
  text-align: left;
  width: 150px;
}

.keyword-add-button,
.keyword-del-button {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  font-size: 16px;
  width: 40px;
  text-align: center;
}

.keyword-add-button {
  background-color: #fabe00;
  color: white;
}

.keyword-add-button:hover {
  cursor: pointer;
  background-color: #ed6c00;
}

.keyword-del-button {
  background-color: #d3ddfd;
  border: solid 1px #1948d8;
  color: #1948d8;
}

.keyword-del-button:hover {
  cursor: pointer;
  background-color: #1948d8;
  color: #ffffff;
}

.search-similar-body {
  padding: 20px;
}

.search-similar-item {
  display: block;
  width: 100%;
}

.btn-border-orange {
  background: white;
  border: 1px #ed6c00 solid;
  width: 160px;
  padding: 4px;
  color: #ed6c00;
  border-radius: 20px;
  text-align: center;
}
.btn-border-orange:hover {
  background: #ed6c00;
  color: white;
  cursor: pointer;
}
.all-uncheck {
  margin-left: auto;
  margin-right: 10px;
}
.all-open-close {
  margin-left: 10px;
  margin-right: auto;
}
.input-panel-table {
  border: solid 1px #ed6b00;
  margin: 10px;
  margin-bottom: 10px;
}

.category-label {
  display: table-cell;
  padding: 20px;
  background-color: #ed6c00;
  color: white;
  font-size: 16px;
  font-weight: 500;
  min-width: 200px;
  background-color: #ed6c00;
  vertical-align: top;
}

.value {
  display: table-cell;
  width: 86%;
}

.select-contents {
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
  color: black;
}

.select-item {
  display: inline-block;
  margin: 0px 4px;
  background-color: #fff;
}

.checkbox-none {
  display: none;
}

.select-item input[type="checkbox"]:checked + span,
.select-item input[type="radio"]:checked + span {
  background-color: #f49393;
  color: white;
}
.select-item .anime[type="checkbox"]:checked + span {
  background-color: #0ec143;
}
.select-item .manga[type="checkbox"]:checked + span {
  background-color: #ca7a08;
}
.select-item .game[type="checkbox"]:checked + span {
  background-color: #080808;
}
.select-item .app[type="checkbox"]:checked + span {
  background-color: #4664ef;
}
.select-item .theater[type="checkbox"]:checked + span {
  background-color: #3f03bb;
}

.label:hover {
  background-color: #cecece;
}

.label {
  margin: 6px;
  padding: 8px;
  width: 160px;
  background: #a7a7a7;
  color: black;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

.search-button-area {
  width: 100%;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-blue {
  padding: 4px;
  width: 170px;
  height: 40px;
  color: white;
  border-radius: 4px;
  border: none;
  background: #0180ca;
  font-size: 20px;
}
.button-blue:hover {
  opacity: 0.7;
}

.date-area .date-year {
  width: 100px;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.date-area .date-month {
  width: 70px;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.date-area .date-day {
  width: 70px;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.date-area {
  text-align: center;
}

.spacer1{
  margin-left: 34px;
}
.spacer2{
  margin-right: 34px;
}

.input-panel-label span,
.input-panel-child-title span {
  display: inline-block;
  transition: transform 0.5s;
  transform: rotate(-90deg);
}

.link-list .link {
  display: inline-block;
  margin: 15px 20px 15px 20px;
  width: 45%;
  font-size: 18px;
  vertical-align: top;
}

/* 検索エリア */
.search-area {
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  width: 50%;
}

.search-area input {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  width: 85%;
  height: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

#id_search_input_button{
  padding: 4px;
  width: 40px;
  height: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-radius: 4px;
  background: #0180ca;
  font-size: 20px;
  border: none;
}

h4 + div{
  margin: 1%;
}

/* ツールチップ */
i {
  position: relative;
}
.tooltip-util {
  position: absolute;
  height: 20px;
  line-height: 20px;
  text-align: left;
  display: none;
  letter-spacing: 0;
}
i:hover > .tooltip-util {
  display: inline-block;
  top : 85px;
  opacity: 1;
  margin-top: -50px;
  margin-left: 15px;
  z-index: 1000;
  animation-duration: 0.5s;
  animation-name: fade-in;
}
@keyframes fade-in {
  0% {
  display: none;
  opacity: 0;
  }
  1% {
  display: block;
  opacity: 0;
  }
  100% {
  display: block;
  opacity: 1;
  }
}
.tooltip-util > .text {
  background: #FFF;
  color: #000000;
  padding: 6px 6px;
  font-size: 14px;
  display: inline-block;
  border: solid 1px rgb(255, 210, 150);
  border-radius: 3px;
  width: 100%;
}
.tooltip-title{
  background:rgb(255, 210, 150);
  border-left: 6px #fc950f solid;
  padding : 8px 10px;
  color : #fc7a0f;
}
.tooltip-body{
  padding : 10px 10px;
  /* color : #e69654; */
  font-weight:initial;
  word-break: break-all;
  color: #f47003;
}
.tooltip-body > p{
  margin-bottom: 1px;
}
.icon {
  color: rgb(255, 210, 150);
  margin-left: 10px;
  top: 1.5px;
  font-size: 20px;
}
.icon:hover{
  cursor: pointer;
  color: #fc950f;
}

/*あらすじの制御*/
.overview h2{
  font-size: 1.5em;
}

/*文字サイズ制御*/
.xlarge{
  font-size: 20px;
} 
.large{
  font-size: 18px;
} 
.nomal{
  font-size: 16px;
} 
.small{
  font-size: 14px;
} 
.xsmall{
  font-size: 12px;
} 