@charset "UTF-8";

.contents-2col{
  display:flex;
}

.contents-2col > div:first-child{
  flex:4
}

.contents-2col > div:last-child{
  margin-left:4%;
  flex:1
}

.sticky{
  top:20px;
  position:sticky;
}

.compare-kago-add,
.compare-kago-add:focus {
  background: linear-gradient(to right, #ed6b00 0%, #fabe00 80%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 220px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  float: right;
  margin-left: 10px;
  text-decoration: none;
  box-sizing: unset;
}

.compare-kago-add:hover {
  cursor: pointer;
  background: linear-gradient(to right, #e60012 0%, #ed6c00 80%);
  color: white;
  text-decoration: none;
}

.compare-kago-del {
	background: #e0e0e0;
	padding: 10px;
	border-radius: 20px;
	width: 220px;
	color: #a1a1a1;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	float: right;
	margin-left: 10px;
}

.compare-kago-del:hover {
	cursor: pointer;
	background: #cacaca;
}

.compare-kago-button-text,
.compare-kago-button-text:focus{
	background-color: #f49393;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  margin: 2px;
  color: white;
  border-radius: 10px;
  text-align: center;
	text-decoration: none;
}

.compare-kago-button{
  text-align: right;
}
.compare-kago-button-text:hover{
	cursor: pointer;
	opacity: 0.5;
	text-decoration: none;
	color: white;
}

.compare-kago-list{
	border: solid 1px #f39700;
}

.compare-kago-area{
	border: solid 1px rgb(162, 169, 177);
	margin: 5px;
}

.link{
	margin: 5px;
}

.compare-kago-left {
	padding: 1.5%;
  float: left;
	width: 20%;
}

.compare-kago-middle{
  word-break: break-all;
  min-height: 70px;
}

.compare-kago-button-submit{
  text-decoration: none!important;
}

.compare-keyvisual{
  height: 85px;
  width: 100%;
  cursor: pointer;
}

#compare-kago-hr{
	margin: 12px;
	border-color:#0180ca;
	border-bottom: 0px;
}

.compare-button-area{
	text-align: center;
	margin-bottom: 10px;
}

.not_found_item{
  padding :30px;
  text-align:center;
  vertical-align: middle;
}

.compare-kago-checkbox{
  display:none;
}
/* 比較かご */
.compare-kago-list{
	border-radius: 5px;
}

.contents-right-detail{
  position: sticky;
  top: 20px;
}

.contents{
  overflow: inherit !important;
}

.input-panel-label-compare{
  padding: 10px;
  border: solid 1px #ed6b00;
  background: linear-gradient(#fabe00, #ed6b00);
  color: #ffffff;
  font-size: 16px;
}

#id_msg_not_select{
  color: red;
  text-align: center;
  font-weight: bold;
  font-family: Meiryo;
  padding: 10px;
}
