@charset "UTF-8";
/*** jqgrid共通スタイル ***/
#list {
    width: 98%;
}
.ui-jqgrid,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-pager,
.ui-jqgrid .ui-jqgrid-view button,
.ui-jqgrid .ui-pg-input {
    font-size: 14px;
}

.ui-jqgrid tr.ui-row-ltr td input {
    font-size: 14px;
}

.ui-jqdialog {
    font-size: 14px;
}

.ui-search-input > input {
    height: 25px;
}

.grid-btn-delete,
.grid-btn-update {
    margin: 5px;
}

.grid-btn-delete {
    background-color: #d3ddfd;
    border: solid 1px #1948d8;
    color: #1948d8;
}

.grid-btn-update {
    color: #f08d3e;
    border: solid 1px #fabe00;
    background-color: #fef5de;
}

.grid-btn-delete:hover {
    background-color: #3262f9;
    border: solid 1px #1948d8;
    color: white;
}

.grid-btn-update:hover {
    background: #fabe00;
    border: solid 1px #fabe00;
    color: white;
}

.delete-confirm-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.delete-confirm-table td {
    padding: 5px;
}

.delete-confirm-table .label {
    width: 30%;
    background-color: #d3ddfd;
    border: solid 1px #1948d8;
    color: #1948d8;
}

.delete-confirm-table .value {
    width: 70%;
    border: solid 1px #1948d8;
}

.dialog-button-area {
    text-align: center;
}

.dialog-button {
    width: 150px;
    margin: 10px;
}

.ui-widget-overlay {
    opacity: 0.3;
}

.error-column {
    color: #ef0707;
}
.bold {
    font-weight: bold;
    margin: 0px 5px;
}
