{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}管理者ログイン画面{% endblock %}

{% block extra_head %}

<!-- bootstrap -->
{% load static %}
<script src="{% static 'admin_app/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'admin_app/lib/bootstrap/css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'admin_app/lib/bootstrap/css/bootstrap-responsive.min.css' %}">

<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 個別 -->

<script src="{% static 'admin_app/javascript/00_login/01_login.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/00_login/01_login.css' %}">
{% endblock %}
<!-- extra_head -->

{% block content %}
<div class="contents">
    <div class="detail-contents">
        <div class="center">
            <div class="bg-box">
                <p class="please">管理者ユーザーIDとパスワードを入力して【ログイン】ボタンを押してください。</p>
                <form method='post'>
                    {% csrf_token %}
                    <div class="error-hidden">
                    {% if form.errors %}
                        <p class="error">管理者ユーザーIDまたはパスワードが正しくありません</p>
                    {% endif %}
                    </div>
                    <p class="user"><input id="id" type="text" name="username" placeholder="管理者ユーザーID"></p>
                    <p class="pwd"><input id="pwd" type="password" name="password" placeholder="パスワード"></p>
                    <p class="in"><button type="submit" value="sub" id="login-button" class="button-blue">ログイン</button></p>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}