{% extends 'admin_app/base/b00_base.html' %}
{% block page_title %}アプリマスタ 編集{% endblock %}
{% block extra_head %}

<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/04_app/20413_app_update.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/04_app/20413_app_update.css' %}" />

{% endblock %}
{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}

<div class="contents">
    {% if object_to_html.insert_error_appname %}
    <div class="status-msg submit-error-msg">同一アプリ名で既にアプリ情報が登録されているため、編集を行うことが出来ませんでした。</div>
    {% elif object_to_html.insert_error_appid %}
    <div class="status-msg submit-error-msg">同一アプリIDで既にアプリ情報が登録されているため、編集を行うことが出来ませんでした。</div>
    {% endif %}

    <h4>アプリマスタ 編集</h4>
    <form action="{% url 'admin_app:20413_app_update' %}?ipc={{ object_to_html.form.ip_code }}&app_name={{ request.GET.app_name }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th>IPコード</th>
                        <td>
                            <input type="hidden" id="ip-code" name="ip_code" value="{{ object_to_html.form.ip_code }}" readonly />
                            {{ object_to_html.form.ip_code }}
                        </td>
                    </tr>
                    <tr>
                        <th>IP名</th>
                        <td>
                            <input type="hidden" id="ip-name" name="ip_name" class="middle" maxlength="100" value="{{ object_to_html.form.ip_name }}" readonly />
                            {{ object_to_html.form.ip_name }}
                        </td>
                    </tr>
                    <tr>
                        <th class="required">アプリ名</th>
                        <td>
                            {% if object_to_html.errors.app_name %}
                            {% for obj in object_to_html.errors.app_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】で入力してください。 <br>
                            <input type="text" class="large" id="app-name" name="app_name" value="{{ object_to_html.form.app_name }}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">アプリID</th>
                        <td class="from-to">
                            {% if object_to_html.errors.app_id_ios %}
                            {% for obj in object_to_html.errors.app_id_ios %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            {% if object_to_html.errors.app_id_android %}
                            {% for obj in object_to_html.errors.app_id_android %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            アプリIDを
                            <a class="link" target="_blank" href="https://www.appannie.com/dashboard/home/">AppAnnie</a>
                            から取得して、入力してください。
                            <div>iOS:</div>
                            <input type="text" class="small" id="app-id-ios" name="app_id_ios" value="{{ object_to_html.form.app_id_ios }}" />
                            <div>Android:</div>
                            <input type="text" class="small" id="app-id-android" name="app_id_android" value="{{ object_to_html.form.app_id_android }}" />
                        </td>
                    </tr>
                    <tr>
                        <th>販売元</th>
                        <td>
                            {% if object_to_html.errors.distributor_name %}
                            {% for obj in object_to_html.errors.distributor_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】で入力してください。<br>
                            <input type="text" class="large" id="distributor-name" name="distributor_name" value="{{ object_to_html.form.distributor_name }}" />
                        </td>
                    </tr>
                    <tr>
                        <th>サービス開始／終了年月日</th>
                        <td class="from-to">
                            {% if object_to_html.errors.service_start_date %}
                            {% for obj in object_to_html.errors.service_start_date %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            {% if object_to_html.errors.service_end_date%}
                            {% for obj in object_to_html.errors.service_end_date %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【半角英数 YYYY/MM/DD形式】で入力してください。
                            <div>サービス開始:</div>
                            <input type="text" id="service-from" name="service_start_date" class="small datepicker" value="{{ object_to_html.form.service_start_date | default_if_none:'' }}" />
                            <div>サービス終了:</div>
                            <input type="text" id="service-to" name="service_end_date" class="small datepicker" value="{{ object_to_html.form.service_end_date | default_if_none:'' }}" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}