{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}マンガ情報 新規登録{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- jqGrid -->
{% include 'admin_app/base/b02_import_jqgrid.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/lib/jquery/sheetJS/xlsx.full.min.js' %}"></script>
<script src="{% static 'admin_app/lib/jquery/sheetJS/cpexcel.js' %}"></script>

<script src="{% static 'admin_app/javascript/02_manga/20242_manga_heibai_create.js' %}"></script>
<!-- <link rel="stylesheet" href="{% static 'admin_app/css/02_manga/20242_manga_heibai_create.css' %}"> -->
<style>
#drop {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold, "Vollkorn";
    color: #bbb;
}
</style>
{% endblock %}

{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}
<div class="contents">
    <h4>併売情報 新規登録</h4>
        <form action="{% url 'admin_app:20242_manga_heibai_create' %}?mangac={{ object_to_html.form.manga_title_code }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th>マンガタイトルコード</th>
                        <td>
                            {{ object_to_html.form.manga_title_code }}
                        </td>
                    </tr>
                    <tr>
                        <th>マンガタイトル名</th>
                        <td>
                            {{ object_to_html.form.manga_title_name }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="spacer-16"></div>

            <div id="btn" class="base-button narrow file-select-button">ファイルを選択</div>
            <input type="file" id="upload" multiple="multiple" accept=".xlsx, xls" /> <input id="uploadname" class="upload-text" placeholder="選択されていません" readonly />
                <div class="spacer-8"></div>
                <div id="drop">こちらに「WIN＋」からダウンロードしたファイルをドロップしてください</div>
            <div class="spacer-16"></div>

            <table class="input-table">
                <tbody>
                    <tr>
                        <th>併売</th>
                        <th>マンガタイトルコード</th>
                        <th>マンガタイトル名</th>
                        <th>検索</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td name="heibai_1">{{ object_to_html.form.heibai_1 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_1 | default_if_none:''}}" name="heibai_name_1" id="heibai-1" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-1" >検索</button></td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td name="heibai_2">{{ object_to_html.form.heibai_2 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_2 | default_if_none:''}}" name="heibai_name_2" id="heibai-2" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-2" >検索</button></td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td name="heibai_3">{{ object_to_html.form.heibai_3 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_3 | default_if_none:''}}" name="heibai_name_3" id="heibai-3" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-3" >検索</button></td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td name="heibai_4">{{ object_to_html.form.heibai_4 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_4 | default_if_none:''}}" name="heibai_name_4" id="heibai-4" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-4" >検索</button></td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td name="heibai_5">{{ object_to_html.form.heibai_5 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_5 | default_if_none:''}}" name="heibai_name_5" id="heibai-5" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-5" >検索</button></td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td name="heibai_6">{{ object_to_html.form.heibai_6 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_6 | default_if_none:''}}" name="heibai_name_6" id="heibai-6" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-6" >検索</button></td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td name="heibai_7">{{ object_to_html.form.heibai_7 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_7 | default_if_none:''}}" name="heibai_name_7" id="heibai-7" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-7" >検索</button></td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td name="heibai_8">{{ object_to_html.form.heibai_8 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_8 | default_if_none:''}}" name="heibai_name_8" id="heibai-8" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-8" >検索</button></td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td name="heibai_9">{{ object_to_html.form.heibai_9 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_9 | default_if_none:''}}" name="heibai_name_9" id="heibai-9" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-9" >検索</button></td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td name="heibai_10">{{ object_to_html.form.heibai_10 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_10 | default_if_none:''}}" name="heibai_name_10" id="heibai-10" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-10" >検索</button></td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td name="heibai_11">{{ object_to_html.form.heibai_11 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_11 | default_if_none:''}}" name="heibai_name_11" id="heibai-11" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-11" >検索</button></td>
                    </tr>
                    <tr>
                        <th>12</th>
                        <td name="heibai_12">{{ object_to_html.form.heibai_12 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_12 | default_if_none:''}}" name="heibai_name_12" id="heibai-12" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-12" >検索</button></td>
                    </tr>
                    <tr>
                        <th>13</th>
                        <td name="heibai_13">{{ object_to_html.form.heibai_13 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_13 | default_if_none:''}}" name="heibai_name_13" id="heibai-13" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-13" >検索</button></td>
                    </tr>
                    <tr>
                        <th>14</th>
                        <td name="heibai_14">{{ object_to_html.form.heibai_14 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_14 | default_if_none:''}}" name="heibai_name_14" id="heibai-14" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-14" >検索</button></td>
                    </tr>
                    <tr>
                        <th>15</th>
                        <td name="heibai_15">{{ object_to_html.form.heibai_15 | default_if_none:''}}</td>
                        <td><input type="text" class="middle" value="{{ object_to_html.form.heibai_name_15 | default_if_none:''}}" name="heibai_name_15" id="heibai-15" /></td>
                        <td><button type="button" class="search-button base-button" data-heibai="heibai-15" >検索</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button" />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- start 検索 -->
<div style="display: none">
    <div id="manga-confirm-dialog">
        <div class="grid-list">
        {% include 'admin_app/base/b13_create_status_msg.html' %}
        <div id="list">
            {% include 'admin_app/base/b12_create_grid.html' %}
        </div>
    </div>
    </div>
</div>
<!-- end 検索 -->

{% endblock %}
