{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}小説 編集{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- jqGrid -->
{% include 'admin_app/base/b02_import_jqgrid.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/03_novel/20313_novel_update.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/03_novel/20313_novel_update.css' %}">

{% endblock %}
{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}

<div id="contents" class="contents" style="display: none">
    {% if object_to_html.update_error %}
    <div class="status-msg submit-error-msg">同一小説タイトル名で既に小説情報が登録されているため、編集を行うことが出来ませんでした。</div>
    {% endif %}
    <div id="errorMsg" class="status-msg submit-error-msg" style="display: none">エラーが発生しました、もう一度やり直してください。</div>

    <h4>小説情報 編集</h4>
    <form action="{% url 'admin_app:20313_novel_update' %}?novelc={{ object_to_html.form.novel_title_code }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th class="required">小説タイトルコード</th>
                        <td>
                            {% if object_to_html.errors.novel_title_code %}
                                {% for obj in object_to_html.errors.novel_title_code %}
                                    <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                            {% endif %}
                            <input type="text" class="small input-disabled" readonly value="{{ object_to_html.form.novel_title_code }}" name="novel_title_code" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">小説タイトル名</th>
                        <td>
                            {% if object_to_html.errors.novel_title_name %}
                                {% for obj in object_to_html.errors.novel_title_name %}
                                    <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                            {% endif %}
                            【100文字以内】で入力してください。
                            <br>
                            <input type="text" class="middle" value="{{ object_to_html.form.novel_title_name | default_if_none:''}}" name="novel_title_name" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">連載開始年月</th>
                        <td>
                            {% if object_to_html.errors.rensai_start_yyyymm %}
                                {% for obj in object_to_html.errors.rensai_start_yyyymm %}
                                    <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                            {% endif %}
                            【4桁（yyyy）】または【6桁（yyyymm）】で入力してください。
                            <br>
                            <input type="text" class="small" value="{{ object_to_html.form.rensai_start_yyyymm | default_if_none:''}}" name="rensai_start_yyyymm" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">既刊数</th>
                        <td>
                            {% if object_to_html.errors.published_cnt %}
                                {% for obj in object_to_html.errors.published_cnt %}
                                    <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                            {% endif %}
                            【半角数字 0～999】で入力してください。
                            <br>
                            <input type="text" class="small" value="{{ object_to_html.form.published_cnt | default:0}}" name="published_cnt" />
                        </td>
                    </tr>
                    <tr>
                        <th>連載</th>
                        <td>
                            {% if object_to_html.errors.rensai_end_flg %}
                                {% for obj in object_to_html.errors.rensai_end_flg %}
                                    <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                            {% endif %}
                            {% ifequal object_to_html.form.rensai_end_flg 'True' %}
                                <label><input type="radio" name="rensai_end_flg" value="False">連載中</label>
                                <label><input type="radio" name="rensai_end_flg" value="True" checked="checked">連載終了</label>
                            {% else %}
                                <label><input type="radio" name="rensai_end_flg" value="False" checked="checked">連載中</label>
                                <label><input type="radio" name="rensai_end_flg" value="True">連載終了</label>
                            {% endifequal %}
                        </td>
                    </tr>
                    <tr>
                        <th>受賞歴</th>
                        <td>
                            <input type="text" class="large" value="{{ object_to_html.form.award_history | default_if_none:''}}" name="award_history" />
                        </td>
                    </tr>
                    <tr>
                        <th>掲載媒体</th>
                        <td>
                            <div class="div-media-class">
                                <input type="hidden" id="media-code" value="{{ object_to_html.form.media_code | default_if_none:''}}" name="media_code" />
                                <select class="media" name="media_name">
                                    <option id="media-name" value="{{ object_to_html.form.media_name | default_if_none:''}}" >{{ object_to_html.form.media_name | default:'掲載媒体を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button media-delete-button">削除</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>出版社</th>
                        <td>
                            <div class="div-publisher-class">
                                <input type="hidden" id="publisher-code" value="{{ object_to_html.form.publisher_code | default_if_none:''}}" name="publisher_code" />
                                <select class="publisher" name="publisher_name">
                                    <option id="publisher-name" value="{{ object_to_html.form.publisher_name | default_if_none:''}}" >{{ object_to_html.form.publisher_name | default:'出版社を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button publisher-delete-button">削除</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>スタッフ1~5</th>
                        <td>
                            <input type="hidden" id="staff-map-code" value="{{ object_to_html.form.staff_map_code | default_if_none:''}}" name="staff_map_code" />
                            {% if object_to_html.errors.staff_code1 %}
                                    {% for obj in object_to_html.errors.staff_code1 %}
                                        <div class="input-err-msg">{{obj.message}}</div>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="div-staff">
                                <input type="hidden" id="staff-role-code1" value="{{ object_to_html.form.staff_role_code1 | default_if_none:''}}" name="staff_role_code1" />
                                <select class="staff-role" name="staff_role_name1" data-select-staff-role="001-01">
                                    <option id="staff-role-name1" value="{{ object_to_html.form.staff_role_name1 | default_if_none:''}}" >{{ object_to_html.form.staff_role_name1 | default:'スタッフ役割1を選択'}}</option>
                                </select>

                                <input type="hidden" id="staff-code1" value="{{ object_to_html.form.staff_code1 | default_if_none:''}}" name="staff_code1" />
                                <select class="staff" name="staff_name1" data-select-staff="001-02">
                                    <option id="staff-name1" value="{{ object_to_html.form.staff_name1 | default_if_none:''}}" >{{ object_to_html.form.staff_name1 | default:'スタッフ1を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button staff-delete-button" data-delete-button="01" >削除</div>
                            </div>
                            <div class="spacer-8"></div>
                            {% if object_to_html.errors.staff_code2 %}
                                    {% for obj in object_to_html.errors.staff_code2 %}
                                        <div class="input-err-msg">{{obj.message}}</div>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="div-staff">
                                <input type="hidden" id="staff-role-code2" value="{{ object_to_html.form.staff_role_code2 | default_if_none:''}}" name="staff_role_code2" />
                                <select class="staff-role" name="staff_role_name2" data-select-staff-role="002-01">
                                    <option id="staff-role-name2" value="{{ object_to_html.form.staff_role_name2 | default_if_none:''}}" >{{ object_to_html.form.staff_role_name2 | default:'スタッフ役割2を選択'}}</option>
                                </select>

                                <input type="hidden" id="staff-code2" value="{{ object_to_html.form.staff_code2 | default_if_none:''}}" name="staff_code2" />
                                <select class="staff" name="staff_name2" data-select-staff="002-02">
                                    <option id="staff-name2" value="{{ object_to_html.form.staff_name2 | default_if_none:''}}" >{{ object_to_html.form.staff_name2 | default:'スタッフ2を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button staff-delete-button" data-delete-button="02" >削除</div>
                            </div>
                            <div class="spacer-8"></div>
                            {% if object_to_html.errors.staff_code3 %}
                                    {% for obj in object_to_html.errors.staff_code3 %}
                                        <div class="input-err-msg">{{obj.message}}</div>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="div-staff">
                                <input type="hidden" id="staff-role-code3" value="{{ object_to_html.form.staff_role_code3 | default_if_none:''}}" name="staff_role_code3" />
                                <select class="staff-role" name="staff_role_name3" data-select-staff-role="003-01">
                                    <option id="staff-role-name3" value="{{ object_to_html.form.staff_role_name3 | default_if_none:''}}" >{{ object_to_html.form.staff_role_name3 | default:'スタッフ役割3を選択'}}</option>
                                </select>

                                <input type="hidden" id="staff-code3" value="{{ object_to_html.form.staff_code3 | default_if_none:''}}" name="staff_code3" />
                                <select class="staff" name="staff_name3" data-select-staff="003-02">
                                    <option id="staff-name3" value="{{ object_to_html.form.staff_name3 | default_if_none:''}}" >{{ object_to_html.form.staff_name3 | default:'スタッフ3を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button staff-delete-button" data-delete-button="03" >削除</div>
                            </div>
                            <div class="spacer-8"></div>
                            {% if object_to_html.errors.staff_code4 %}
                                    {% for obj in object_to_html.errors.staff_code4 %}
                                        <div class="input-err-msg">{{obj.message}}</div>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="div-staff">
                                <input type="hidden" id="staff-role-code4" value="{{ object_to_html.form.staff_role_code4 | default_if_none:''}}" name="staff_role_code4" />
                                <select class="staff-role" name="staff_role_name4" data-select-staff-role="004-01">
                                    <option id="staff-role-name4" value="{{ object_to_html.form.staff_role_name4 | default_if_none:''}}" >{{ object_to_html.form.staff_role_name4 | default:'スタッフ役割4を選択'}}</option>
                                </select>

                                <input type="hidden" id="staff-code4" value="{{ object_to_html.form.staff_code4 | default_if_none:''}}" name="staff_code4" />
                                <select class="staff" name="staff_name4" data-select-staff="004-02">
                                    <option id="staff-name4" value="{{ object_to_html.form.staff_name4 | default_if_none:''}}" >{{ object_to_html.form.staff_name4 | default:'スタッフ4を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button staff-delete-button" data-delete-button="04" >削除</div>
                            </div>
                            <div class="spacer-8"></div>
                            {% if object_to_html.errors.staff_code5 %}
                                    {% for obj in object_to_html.errors.staff_code5 %}
                                        <div class="input-err-msg">{{obj.message}}</div>
                                    {% endfor %}
                            {% endif %}
                            <br>
                            <div class="div-staff">
                                <input type="hidden" id="staff-role-code5" value="{{ object_to_html.form.staff_role_code5 | default_if_none:''}}" name="staff_role_code5" />
                                <select class="staff-role" name="staff_role_name5" data-select-staff-role="005-01">
                                    <option id="staff-role-name5" value="{{ object_to_html.form.staff_role_name5 | default_if_none:''}}" >{{ object_to_html.form.staff_role_name5 | default:'スタッフ役割5を選択'}}</option>
                                </select>

                                <input type="hidden" id="staff-code5" value="{{ object_to_html.form.staff_code5 | default_if_none:''}}" name="staff_code5" />
                                <select class="staff" name="staff_name5" data-select-staff="005-02">
                                    <option id="staff-name5" value="{{ object_to_html.form.staff_name5 | default_if_none:''}}" >{{ object_to_html.form.staff_name5 | default:'スタッフ5を選択'}}</option>
                                </select>
                                <div class="base-button blue novel-button staff-delete-button" data-delete-button="05" >削除</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button" />
                </div>
            </div>
        </div>
    </form>
</div>

<!-- start 掲載媒体選択 -->
<div style="display: none">
    <div id="media-confirm-dialog" title="掲載媒体選択">
        <div>
            <input type="text" class="modal-text" id="media-keyword"/>
            <button type="button" class="dialog-button search-media-botton">検索</button>
            <button type="button" class="dialog-button clear-botton">クリア</button>
        </div>
        <div class="media-btn-list" style="width: 100%"></div>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button type="button" class="dialog-button cancel-botton">キャンセル</button>
        </div>
    </div>
</div>
<!-- end 掲載媒体選択 -->

<!-- start 出版社選択 -->
<div style="display: none">
    <div id="publisher-confirm-dialog" title="出版社選択">
        <div>
            <input type="text" class="modal-text" id="publisher-keyword"/>
            <button type="button" class="dialog-button search-publisher-botton">検索</button>
            <button type="button" class="dialog-button clear-botton">クリア</button>
        </div>
        <div class="publisher-btn-list" style="width: 100%"></div>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button type="button" class="dialog-button cancel-botton">キャンセル</button>
        </div>
    </div>
</div>
<!-- end 出版社選択 -->

<!-- start 役割選択 -->
<div style="display: none">
    <div id="staff-role-confirm-dialog" title="スタッフ役割選択">
        <div>
            <input type="text" class="modal-text" id="staff-role-keyword"/>
            <button type="button" class="dialog-button search-staff-role-botton">検索</button>
            <button type="button" class="dialog-button clear-botton">クリア</button>
        </div>
        <div class="staff-role-btn-list" style="width: 100%"></div>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button type="button" class="dialog-button cancel-botton">キャンセル</button>
        </div>
    </div>
</div>
<!-- end 役割選択 -->

<!-- start スタッフ名選択 -->
<div style="display: none">
    <div id="staff-confirm-dialog" title="スタッフ名選択">
        <div>
            <input type="text" class="modal-text" id="staff-keyword"/>
            <button type="button" class="dialog-button search-staff-botton">検索</button>
            <button type="button" class="dialog-button clear-botton">クリア</button>
        </div>
        <div class="staff-btn-list" style="width: 100%"></div>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button type="button" class="dialog-button cancel-botton">キャンセル</button>
        </div>
    </div>
</div>
<!-- end スタッフ名選択 -->

{% endblock %}