{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}IP 編集画面{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- jQuery CLEditor -->
{% include 'admin_app/base/b07_import_cleditor.html' %}

<!-- jQuery UploadThumbs -->
{% include 'admin_app/base/b06_import_uploadthumbs.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/01_ip_sakuhin/20123_sakuhin_update.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/01_ip_sakuhin/20123_sakuhin_update.css' %}">
</head>
{% endblock %}

{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}

<div class="contents">
    {% if object_to_html.insert_error %}
    <div class="status-msg submit-error-msg">同一IP名で既にIP情報が登録されているため、編集を行うことが出来ませんでした。</div>
    {% endif %}
    <h4>IP 編集</h4>
    <form action="{% url 'admin_app:20123_sakuhin_update'%}?ipc={{object_to_html.form.ip_code}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th class="required">IPコード</th>
                        <td>
                            <input type="text" class="small input-disabled" readonly value="{{ object_to_html.form.ip_code }}" name="ip_code" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">IP名</th>
                        <td>
                            {% if object_to_html.errors.ip_name %}
                            {% for obj in object_to_html.errors.ip_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】 で入力してください。
                            <br>
                            <input type="text" class="middle" name="ip_name" value="{{ object_to_html.form.ip_name | default_if_none:''}}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">IPかな名</th>
                        <td>
                            {% if object_to_html.errors.ip_kana_name %}
                            {% for obj in object_to_html.errors.ip_kana_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【ひらがな】 で入力してください。
                            <br>
                            <input type="text" class="middle" name="ip_kana_name" value="{{ object_to_html.form.ip_kana_name | default_if_none:''}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Wikipedia - ページタイトル</th>
                        <td>
                            {% if object_to_html.errors.overview_wiki_title %}
                            {% for obj in object_to_html.errors.overview_wiki_title %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】 で入力してください。
                            <br>
                            <input type="text" class="middle" name="overview_wiki_title" value="{{ object_to_html.form.overview_wiki_title | default_if_none:''}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>あらすじ</th>
                        <td>
                            <textarea id="overview" name="overview"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>キービジュアル</th>
                        <td>
                            <div id="key-visual-area">
                                {% if object_to_html.errors.key_visual_file_name %}
                                {% for obj in object_to_html.errors.key_visual_file_name %}
                                <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                                {% endif %}
                                {% if object_to_html.errors.key_visual %}
                                {% for obj in object_to_html.errors.key_visual %}
                                <div class="input-err-msg">{{obj.message}}</div>
                                {% endfor %}
                                {% endif %}
                                【ファイルサイズは1MB未満】としてください。
                                <br>
                                <div id="btn" class="base-button narrow file-select-button">ファイルを選択</div>
                                <input type="file" id="upload" multiple="multiple" name="key_visual" />
                                <input id="uploadname" name="key_visual_file_name" class="upload-text" placeholder="選択されていません" value="{{ object_to_html.form.key_visual_file_name }}" readonly />
                            </div>
                            <div id="preview">
                                {% if not object_to_html.errors.key_visual %}
                                {% if object_to_html.form.key_visual_file_name and object_to_html.form.key_visual_file_name|length <= 100 %}
                                <img src="/static/ipdds_app/image/keyvisual/{{object_to_html.form.ip_code}}/{{ object_to_html.form.key_visual_file_name}}">
                                {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>キーワード</th>
                        <td>
                            {% if object_to_html.errors.keyword1 %}
                            {% for obj in object_to_html.errors.keyword1 %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【各30文字以内】で入力してください。<br>
                            <div class="keyword-column col1">
                                <input type="text" class="keyword small" name="keyword1" value="{{ object_to_html.form.keyword1 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword2" value="{{ object_to_html.form.keyword2 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword3" value="{{ object_to_html.form.keyword3 | default_if_none:''}}" />
                            </div>
                            <div class="keyword-column col2">
                                <input type="text" class="keyword small" name="keyword4" value="{{ object_to_html.form.keyword4 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword5" value="{{ object_to_html.form.keyword5 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword6" value="{{ object_to_html.form.keyword6 | default_if_none:''}}" />
                            </div>
                            <div class="keyword-column col3">
                                <input type="text" class="keyword small" name="keyword7" value="{{ object_to_html.form.keyword7 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword8" value="{{ object_to_html.form.keyword8 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword9" value="{{ object_to_html.form.keyword9 | default_if_none:''}}" />
                            </div>
                            <div class="keyword-column col4">
                                <input type="text" class="keyword small" name="keyword10" value="{{ object_to_html.form.keyword10 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword11" value="{{ object_to_html.form.keyword11 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword12" value="{{ object_to_html.form.keyword12 | default_if_none:''}}" />
                            </div>
                            <div class="keyword-column col5">
                                <input type="text" class="keyword small" name="keyword13" value="{{ object_to_html.form.keyword13 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword14" value="{{ object_to_html.form.keyword14 | default_if_none:''}}" />
                                <input type="text" class="keyword small" name="keyword15" value="{{ object_to_html.form.keyword15 | default_if_none:''}}" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>国内窓口</th>
                        <td>
                            {% if object_to_html.errors.domestic_window %}
                            {% for obj in object_to_html.errors.domestic_window %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【250文字以内】で入力してください。<br>
                            <textarea class="textarea contact" name="domestic_window" id="contact-jp">{{ object_to_html.form.domestic_window | default_if_none:''}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>国外窓口</th>
                        <td>
                            {% if object_to_html.errors.foreign_window %}
                            {% for obj in object_to_html.errors.foreign_window %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【250文字以内】で入力してください。<br>
                            <textarea class="textarea contact" name="foreign_window" id="contact-abroad">{{ object_to_html.form.foreign_window | default_if_none:''}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="required">展開開始年月日</th>
                        <td>
                            {% if object_to_html.errors.release_date %}
                            {% for obj in object_to_html.errors.release_date %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【半角英数 YYYY/MM/DD形式】 で入力してください。
                            <br>
                            <input type="text" class="small datepicker" name="release_date" value="{{ object_to_html.form.release_date | default_if_none:''}}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">IP公開有効期限</th>
                        <td class="from-to">
                            {% if object_to_html.errors.valid_start_date %}
                            {% for obj in object_to_html.errors.valid_start_date %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            {% if object_to_html.errors.valid_end_date %}
                            {% for obj in object_to_html.errors.valid_end_date %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【半角英数 YYYY/MM/DD形式】 で入力してください。
                            <div>IP公開開始:</div>
                            <input type="text" id="datepicker-from" class="small datepicker" name="valid_start_date" value="{{ object_to_html.form.valid_start_date | default_if_none:''}}" />

                            <div>IP公開終了:{{ object_to_html.form.valid_end_date | default_if_none:''}}</div>
                            <input type="text" id="datepicker-to" class="small datepicker" name="valid_end_date" value="{{ object_to_html.form.valid_end_date | default_if_none:''}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>メモ</th>
                        <td>
                            {% if object_to_html.errors.memo %}
                            {% for obj in object_to_html.errors.memo %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【250文字以内】で入力してください。<br>
                            <textarea class="textarea memo" name="memo">{{ object_to_html.form.memo | default_if_none:''}}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button">
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}