{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}作品紐づけ情報 一覧画面{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- jqGrid -->
{% include 'admin_app/base/b02_import_jqgrid.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- ツールチープ -->
{% include 'admin_app/base/b16_create_tooltip.html' %}

<!-- 更新履歴欄 -->
{% include 'admin_app/base/b04_import_notice_table.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}
<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/01_ip_sakuhin/20124_sakuhin_bind.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/01_ip_sakuhin/20124_sakuhin_bind.css' %}">
<link rel="stylesheet" href="{% static 'admin_app/css/common/jquery-tab.css' %}">

<script type="text/javascript">
    $(function () {
        $(".tabs").tabs();
    });
</script>

{% endblock %}

{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}
<div id="contents" class="contents tabs" style="display: none">
    {% csrf_token %}
    {% include 'admin_app/base/b10_create_notice_table.html' %}
    <h4>作品紐づけ情報</h4>
    <div class="grid-list">
        <div id="errorMsg" class="status-msg submit-error-msg" style="display: none">エラーが発生しました、もう一度やり直してください。</div>
        <ul>
            <li id="tab-title"><a href="#tabs-title">作品に各タイトルを紐づけ</a></li>
            <li id="tab-twitter"><a href="#tabs-twitter">Twitter</a></li>
            <li id="tab-game"><a href="#tabs-game">ゲーム</a></li>
        </ul>
        <div id="tabs-title">
            <div class="input-area">
                <h5>作品検索</h5>
                <table class="input-table list-area sakuhin-bind-table">
                    <tbody>
                        <tr>
                            <th>作品名検索
                                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_IPBIND_003"></i>
                            </th>
                            <td>
                                <input id="input-sakuhin-name" name="input_sakuhinname" type="text" class="large" maxlength="100" value="" />
                                <div class="search-button base-button search-sakuhin">検索</div>
                            </td>
                        </tr>
                        <tr>
                            <th>選択作品名</th>
                            <td>
                                <span class="select-sakuhin-doc"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-list title-list">
                    <h5>関連タイトル</h5>
                    <div id="con-title-list">
                        <table class="input-table sakuhin-bind-table">
                            <tbody>
                                <tr>
                                    <th>検索カテゴリ</th>
                                    <td>
                                        <input id="manga-checkbox" class="checkbox" name="checkbox" type="checkbox" value="manga" checked="checked">
                                        <label for="manga-checkbox" class="checkbox-label">マンガ</label>
                                        <input id="novel-checkbox" class="checkbox" name="checkbox" type="checkbox" value="novel" checked="checked">
                                        <label for="novel-checkbox" class="checkbox-label">小説</label>
                                        <input id="anime-checkbox" class="checkbox" name="checkbox" type="checkbox" value="anime" checked="checked">
                                        <label for="anime-checkbox" class="checkbox-label">アニメ</label>
                                        <input id="app-checkbox" class="checkbox" name="checkbox" type="checkbox" value="app" checked="checked">
                                        <label for="app-checkbox" class="checkbox-label">アプリ</label>
                                        <input id="report-checkbox" class="checkbox" name="checkbox" type="checkbox" value="report" checked="checked">
                                        <label for="report-checkbox" class="checkbox-label">白書</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>関連タイトル名
                                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SAKUHINBIND_001"></i>
                                    </th>
                                    <td>
                                        <input id="input-title-name" name="input_title_name" type="text" class="large" maxlength="100" value="" />
                                        <div class="search-button base-button search-title">検索</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="spacer-8"></div>
                        <table id="list-grid-title"></table>
                        <div id="title-pager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-twitter">
            <div class="input-area">
                <h5>作品検索</h5>
                <table class="input-table list-area sakuhin-bind-table">
                    <tbody>
                        <tr>
                            <th>作品名検索
                                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_IPBIND_003"></i>
                            </th>
                            <td>
                                <input id="twitter-sakuhin-name" name="input_twitter_sakuhin" type="text" class="large" maxlength="100" value="" />
                                <div class="search-button base-button search-twitter-sakuhin">検索</div>
                            </td>
                        </tr>
                        <tr>
                            <th>選択作品名</th>
                            <td>
                                <span class="select-twitter-doc"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-list twitter-sakuhin-list">
                    <h5>関連Twitter</h5>
                    <div id="con-sakuhin-list">
                        <table class="input-table sakuhin-bind-table">
                            <tbody>
                                <tr>
                                    <th>関連アカウント名</th>
                                    <td>
                                        <input id="input-twitter-name" name="input_twitter" type="text" class="large" maxlength="50" value="" />
                                        <div class="search-button base-button search-twitter">検索</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="spacer-8"></div>
                        <table id="grid-twitter-sakuhin"></table>
                        <div id="list-twitter-sakuhin-pager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-game">
            <div class="input-area">
                <h5>ゲーム検索</h5>
                <table class="input-table list-area sakuhin-bind-table">
                    <tbody>
                        <tr>
                            <th>ゲーム名検索</th>
                            <td>
                                <input id="input-game-name" name="input_game" type="text" class="large" maxlength="255" value="" />
                                <div class="search-button base-button search-game">検索</div>
                            </td>
                        </tr>
                        <tr>
                            <th>選択ゲーム名</th>
                            <td>
                                <span class="select-game-doc"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="search-list game-sakuhin-list">
                    <h5>関連作品</h5>
                    <div id="con-game-sakuhin-list">
                        <table class="input-table sakuhin-bind-table">
                            <tbody>
                                <tr>
                                    <th>関連作品名
                                        <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_IPBIND_003"></i>
                                    </th>
                                    <td>
                                        <input id="game-sakuhin-name" name="input_game_sakuhin" type="text" class="large" maxlength="100" value="" />
                                        <div class="search-button base-button search-game-sakuhin">検索</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="spacer-8"></div>
                        <table id="grid-game-sakuhin"></table>
                        <div id="list-game-pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start 関連タイトル紐付け解除ダイアログ -->
<div style="display: none">
    <div id="del-title-dialog" title="関連タイトル紐付け解除確認">
        以下のタイトル紐づけ情報を削除してよろしいですか？
        <div class="spacer-8"></div>
        <table class="delete-confirm-table">
            <tr>
                <td class="label">タイトルコード</td>
                <td class="value" id="delete-title-code"></td>
            </tr>
            <tr>
                <td class="label">タイトル名</td>
                <td class="value" id="delete-title-name"></td>
            </tr>
        </table>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button class="dialog-button cancel-botton">キャンセル</button>
            <button class="dialog-button delete-button">紐付け解除</button>
        </div>
    </div>
</div>
<!-- end 関連タイトル紐付け解除ダイアログ -->

<!-- start Twitterに関係作品紐付け解除ダイアログ -->
<div style="display: none">
    <div id="del-twitter-dialog" title="関連Twitter紐付け解除確認">
        以下のTwitter紐づけ情報を削除してよろしいですか？
        <div class="spacer-8"></div>
        <table class="delete-confirm-table">
            <tr>
                <td class="label">Twitterコード</td>
                <td class="value" id="delete-twitter-code"></td>
            </tr>
            <tr>
                <td class="label">アカウント名</td>
                <td class="value" id="delete-twitter-name"></td>
            </tr>
        </table>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button class="dialog-button cancel-botton">キャンセル</button>
            <button class="dialog-button delete-button">紐付け解除</button>
        </div>
    </div>
</div>
<!-- end Twitterに関係作品紐付け解除ダイアログ -->

<!-- start gameに関係作品紐付け解除ダイアログ -->
<div style="display: none">
    <div id="del-game-dialog" title="関連作品紐付け解除確認">
        以下の作品紐づけ情報を削除してよろしいですか？
        <div class="spacer-8"></div>
        <table class="delete-confirm-table">
            <tr>
                <td class="label">作品コード</td>
                <td class="value" id="delete-game-code"></td>
            </tr>
            <tr>
                <td class="label">作品名</td>
                <td class="value" id="delete-game-name"></td>
            </tr>
        </table>
        <div class="dialog-button-area">
            <div class="spacer-8"></div>
            <button class="dialog-button cancel-botton">キャンセル</button>
            <button class="dialog-button delete-button">紐付け解除</button>
        </div>
    </div>
</div>
<!-- end Twitterに関係作品紐付け解除ダイアログ -->

<!-- 作品データ一覧モーダル -->
<div style="display: none">
    <div id="sakuhin-dialog">
        <div class="dialog-contents">
            <div id="sakuhin-list">
                <table id="list-sakuhin-modal"></table>
                <div id="sakuhin-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 関連タイトルモーダル -->
<div style="display: none">
    <div id="title-dialog">
        <div class="dialog-contents">
            <div id="title-dialog-list">
                <table id="list-title-modal"></table>
                <div id="title-modal-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                    <button disabled class="base-button narrow orange add-title-button">関連タイトルを追加</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Twitterに関連作品データ一覧モーダル -->
<div style="display: none">
    <div id="twitter-sakuhin-dialog">
        <div class="dialog-contents">
            <div id="twitter-sakuhin">
                <table id="twitter-sakuhin-modal"></table>
                <div id="twitter-sakuhin-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Twitter関連作品モーダル -->
<div style="display: none">
    <div id="add-twitter-dialog">
        <div class="dialog-contents">
            <p class="info-message"><span style="font-weight: bold;">説明：</span>メインアカウントは一作品につき1つまで設定できます。
                メインアカウントが〇のTwitterアカウントを新たに紐づける場合、
                現在、紐づけられている<br>メインアカウントの紐づけは強制的に解除されます。</p>
            <div id="sakuhin-dialog-list">
                <table id="twitter-list"></table>
                <div id="twitter-sakuhin-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- gameデータ一覧モーダル -->
<div style="display: none">
    <div id="select-game-dialog">
        <div class="dialog-contents">
            <div id="game-list">
                <table id="list-game-modal"></table>
                <div id="game-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- game関連作品モーダル -->
<div style="display: none">
    <div id="add-game-dialog">
        <div class="dialog-contents">
            <div id="game-dialog-list">
                <table id="game-sakuhin-modal"></table>
                <div id="modal-game-pager"></div>
            </div>
            <div class="spacer-8"></div>
            <div class="button-area">
                <div class="back-button-area">
                    <button class="base-button narrow blue cancel-button">キャンセル</button>
                    <button disabled class="base-button narrow orange add-game-button">関連作品を追加</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}