{% extends 'ipdds_app/b00_base.html' %}
{% block page_title %}作品詳細画面{% endblock %}
{% block extra_head %}
<!-- jQuery -->
{% include 'ipdds_app/b01_jquery.html' %}
<!-- jqPlot -->
{% include 'ipdds_app/b02_jqplot.html' %}
<!-- jqGrid -->
{% include 'ipdds_app/b03_jqgrid.html' %}
<!-- bootstrap -->
{% include 'ipdds_app/b04_bootstrap.html' %}
<!-- 共通 -->
{% include 'ipdds_app/b05_common.html' %}
{% include 'ipdds_app/b06_djangoToJs.html' %}
<!-- 個別 -->
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/lib/jquery/jquery-ui-themes-1.12.1/themes/sunny/jquery-ui.min.css' %}" />
<script src="{% static 'ipdds_app/javascript/common/comparekago.js' %}"></script>
<script src="{% static 'ipdds_app/javascript/03_detail/10301_detail.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'ipdds_app/css/03_detail/10301_detail.css' %}">
<link rel="stylesheet" href="{% static 'ipdds_app/css/common/comparekago.css' %}">
{% endblock %}
{% block content %}
<div class="contents" style="display:none">
    {% if object_to_html.sakuhin_not_found %}
    対象の作品は存在しません
    {% else %}
    <div class="contents-2col">
        <div class="ratio-4">
            <h4>{{ object_to_html.sakuhin_data.sakuhin_name }}</h4>
            <div id="id_msg_not_select" style="display:none;"></div>
            <div class="compare-kago-detail-add">
                <label class="compare-kago-add" style="display:none;">
                    <input type="checkbox" sakuhin_name="{{ object_to_html.sakuhin_data.sakuhin_name }}" keyvisual="{{ object_to_html.sakuhin_data.keyvisual_file_name }}"
                        value="{{ object_to_html.sakuhin_data.sakuhin_code }}" class="compare-kago-checkbox">
                    <span class="compare-kago-button-add">かごに入れる</span>
                </label>
            </div>
            <div class="detail-area">
                <div class="description-area">
                    <div class="description-area-left">
                        <img onload="KeyVisualUtil.execute()" onerror="KeyVisualUtil.notFound()"
                            src="/static/ipdds_app/image/keyvisual/{{ object_to_html.sakuhin_data.sakuhin_code }}/{{ object_to_html.sakuhin_data.keyvisual_file_name }}" class="keyvisual"
                            data-attention="true">
                        <div class="description-area-left-detail">
                        </div>
                    </div>
                    <div class="description-area-right">
                        <h5>{{ object_to_html.sakuhin_data.sakuhin_name }}</h5>
                        <div class="description-detail">
                            <div class="overview">
                                <div class="spacer_8"></div>
                                {{ object_to_html.sakuhin_data.overview | safe }}
                                <div class="spacer_8"></div>
                            </div>
                            <div>
                                <strong>タグ一覧</strong>
                                <div class="spacer_4"></div>
                                <div class="category" id="bunrui-area">
                                    <!-- 分類 -->
                                </div>
                                <div class="category" id="media-area">
                                    <!-- 掲載媒体 -->
                                </div>
                                <div class="category" id="core-area">
                                    <!-- ジャンル -->
                                </div>
                                <div class="category" id="tag-area">
                                    <!-- 事実メタ -->
                                </div>
                                <div class="spacer_8"></div>
                            </div>
                            <div class="gender-ratio-area">
                                <strong>年代別男女比</strong>
                                <div class="spacer_4"></div>
                                <div class="gender-ratio-table"></div>
                                <div id="gender-ratio-graph"></div>
                            </div>
                            <div class="spacer_8"></div>
                            <div class="heibai-area">
                                <strong>このマンガを買った人は下記作品も買っています</strong>
                                <div class="spacer_4"></div>
                                <table id="grid-heibai" style="width: 100%"></table>
                            </div>
                            <div class="spacer_8"></div>
                            <strong>窓口</strong>
                            <div class="spacer_4"></div>
                            <div class="proposal">
                                <div class="proposal-label">国内商品化窓口</div>
                                <div class="proposal-value">
                                    {{ object_to_html.sakuhin_data.detail_indivisual_item.domestic_window | linebreaksbr }}</div>
                                <div class="proposal-label">国外商品化窓口</div>
                                <div class="proposal-value">
                                    {{ object_to_html.sakuhin_data.detail_indivisual_item.foreign_window | linebreaksbr }}</div>
                            </div>
                            <div class="spacer_8"></div>
                            <strong>メモ</strong>
                            <div class="spacer_4"></div>
                            <textarea readonly class="textarea">{{ object_to_html.sakuhin_data.detail_indivisual_item.memo }}</textarea>
                            <div class="spacer_8"></div>
                            <div class="media-report-area">
                                <strong>関連文書</strong>
                                <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_002"></i>
                                <div class="spacer_4"></div>
                                <table id="grid-media-report" style="width: 100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ratio-1">
            <div>
                <h4>比較かご
                    <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_SIMILARSEARCH_002"></i>
                </h4>
                <div class="compare-kago-list">
                    <div class="not_found_item" style="display:none;">かごに作品を入れて比較してみよう！</div>
                    <div class="compare-kago-list-contents"></div>
                    <div class="compare-kago-list-button" style="display:none;">
                        <hr id="compare-kago-hr">
                        <div class="compare-button-area">
                            <a class="btn-border-orange compare-kago-button-submit" href="/ipdds/compare?">かごの中身を比較する</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer_16"></div>
            <div>
                <h4>類似作品
                    <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_001"></i>
                </h4>
                <div class="similar-sakuhin-list"></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div>
        <div class="manga-area">
            <h5>
                マンガ <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_003"></i>
            </h5>
            <div class="manga-info-area">
                <table id="grid-manga" style="width: 100%"></table>
            </div>
            <div class="manga-isbn-area">
                <div class="graph-left">
                    <table id="grid-manga-isbn" style="width: 100%"></table>
                    <div class="spacer_8"></div>
                    <div class="replot-button-area">
                    <button id="manga-replot-button" class="button-blue btn-large">
                        <i class="icon-refresh icon-white"></i>
                        再描画
                    </button>
                </div>
                </div>
                <div class="graph-right">
                    <div id="plot-manga" class="graph"></div>
                </div>
            </div>
        </div>
        <div class="twitter-area">
            <h5>
                Twitter <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_004"></i>
            </h5>
            <div class="graph-left">
                <table id="grid-twitter" style="width: 100%"></table>
                <div class="spacer_8"></div>
                <div class="replot-button-area">
                    <button id="twitter-replot-button" class="button-blue btn-large">
                        <i class="icon-refresh icon-white"></i>
                        再描画
                    </button>
                </div>
            </div>
            <div class="graph-right">
                <div id="plot-twitter" class="graph"></div>
            </div>
        </div>
        <div class="game-area">
            <h5>
                ゲーム <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_006"></i>
            </h5>
            <div class="graph-left">
                <table id="grid-game" style="width: 100%"></table>
                <div class="spacer_8"></div>
                <div class="replot-button-area">
                    <button id="game-replot-button" class="button-blue btn-large">
                        <i class="icon-refresh icon-white"></i>
                        再描画
                    </button>
                </div>
            </div>
            <div class="graph-right">
                <div id="plot-game" class="graph"></div>
            </div>
        </div>
        <div class="app-area">
            <h5>
                アプリ <i class="icon small-icon fas fa-info-circle" data-tooltip data-id="TOOLTIP_DETAIL_007"></i>
            </h5>
            <div class="app-info-area">
                <table id="grid-app" style="width: 100%"></table>
                <div class="spacer_8"></div>
                <div class="replot-button-area">
                    <button id="app-replot-button" class="button-blue btn-large">
                        <i class="icon-refresh icon-white"></i>
                        再描画
                    </button>
                </div>
            </div>
            <div class="app-graph-left">
                <div id="plot-app-download" class="app-graph-plot"></div>
            </div>
            <div class="app-graph-right">
                <div id="plot-app-sales" class="app-graph-plot"></div>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
{% endblock %}