{% extends 'admin_app/base/b00_base.html' %}

{% block page_title %}HOME画面 管理{% endblock %}

{% block extra_head %}
<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}
<!-- 更新履歴欄 -->
{% include 'admin_app/base/b04_import_notice_table.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- djangoオブジェクト連携 -->
{% include 'admin_app/base/b99_django_js.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/09_home/20915_home_list.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/09_home/20915_home_list.css' %}">
{% endblock %}

{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}

<div class="contents">

    {% include 'admin_app/base/b15_create_error_msg.html' %}
    {% include 'admin_app/base/b10_create_notice_table.html' %}
    
    <h4>バナーリンク編集</h4>
    <div class="input-area">

        <div class="preview-area">

            <div class="preview-overlay"></div>

            <div class="list-left">
                <div id="preview-1" class="preview">
                    <div id="thumbnail-1" class="thumbnail preview-left">
                        <div class="img_wrapper"><img src="/static/ipdds_app/image/banner/1/{{object_to_html.banner.0.tumbnail_file_name}}" class="img" /></div>
                    </div>
                    <div class="article preview-right">
                        <div class="title">{{object_to_html.banner.0.title}}</div>
                        <div class="text">{{object_to_html.banner.0.details}}</div>
                    </div>
                </div>
            </div>

            <div class="list-right">
                <div class="preview two">
                    <div id="thumbnail-2" class="thumbnail preview-left">
                        <div class="img_wrapper"><img src="/static/ipdds_app/image/banner/2/{{object_to_html.banner.1.tumbnail_file_name}}" class="img" /></div>
                    </div>
                    <div id="preview-2" class="article preview-right">
                        <div class="title">{{object_to_html.banner.1.title}}</div>
                        <div class="text">{{object_to_html.banner.1.details}}</div>
                    </div>
                </div>

                <div class="preview three">
                    <div id="thumbnail-3" class="thumbnail preview-left">
                        <div class="img_wrapper"><img src="/static/ipdds_app/image/banner/3/{{object_to_html.banner.2.tumbnail_file_name}}" class="img" /></div>
                    </div>
                    <div id="preview-3" class="article preview-right">
                        <div class="title">{{object_to_html.banner.2.title}}</div>
                        <div class="text">{{object_to_html.banner.2.details}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area">
            <div class="next-button-area">
                {% if object_to_html.banner.0.is_invalid == True %}
                <div class="save-button base-button next-button display-button disable-button">非表示</div>
                {% elif object_to_html.banner.0.is_invalid == False %}
                <div class="save-button base-button next-button display-button">表示</div>
                {% endif %}

            </div>
        </div>
    </div>

    <h4>お知らせ編集</h4>
    
    <form id="news-submit" action="{% url 'admin_app:20915_home_list' %}" method="post">
        <div class="input-area">
            {% csrf_token %}
            {% include 'admin_app/base/b13_create_status_msg.html' %}
            <div id="status-msg" class="status-msg" hidden>
                <span class="ui-icon ui-icon-orange ui-icon-circle-check"></span><span class="messege"></span>
            </div>
            <table class="input-table">
                <tbody>
                    <input id="news-id" name="news-id" type="hidden" value="{{object_to_html.news.0.id}}">
                    <tr>
                        <th class="required">タイトル</th>
                        <td>
                            <div id="news-subject-err" class="input-err-msg"></div>
                            【50文字以内】 で入力してください。
                            <br>
                            <input id="news-subject" name="news-subject" type="text" class="middle" value="{{object_to_html.news.0.subject}}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">概要</th>
                        <td>
                            <div id="news-headline-err" class="input-err-msg"></div>
                            【50文字以内】 で入力してください。
                            <br>
                            <input id="news-headline" name="news-headline" type="text" class="large" value="{{object_to_html.news.0.headline}}" />
                        </td>
                    </tr>
                    <tr>
                        <th class="required">詳細</th>
                        <td>
                            <div id="news-info-detail-err" class="input-err-msg"></div>
                            <textarea id="info-detail" name="info-detail" class="textarea">{{object_to_html.news.0.article}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="required">遷移先</th>
                        <td>
                            <div id="news-link-url-err" class="input-err-msg"></div>
                            <input id="news-link-url" name="news-link-url" type="text" class="large" value="{{object_to_html.news.0.link_url}}" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">入力値をクリア</div>
                </div>
                <div class="next-button-area">
                    <div id="news-create" name="news-create" class="save-button base-button next-button create">新規登録</div>
                    <div id="news-update" name="news-update" class="save-button base-button next-button update">更新</div>

                </div>
            </div>
        </div>
    </form>
</div>

</div>

{% endblock %}