{% load static %}
<h4>更新履歴</h4>
<div class="notice">
    <table class="notice-table">
        {% for obj in object_to_html.notice_table %}
        <tr>
            <td class="date">{{ obj.update_date|date:'Y/m/d' }}</td>
            <td class="editor">{{ obj.update_user }}</td>
            <td class="description">
                {% if obj.update_table == 'm_banner' %}
                バナーエリア
                {% if obj.remarks == '1' %}１
                {% elif obj.remarks == '2' %}２
                {% elif obj.remarks == '3' %}３
                {% endif %}
                <span>{{ obj.target_name }}</span>を{{ obj.operation }}{% if '表示' in obj.operation %}に変更{% endif %}しました。
                {% elif obj.update_table == 'm_ip_map' %}
                <span id="bind">IP</span><span>{{ obj.target_name }}</span>の関連作品{% if '削除' in obj.operation %}から{% else %}に{% endif %}{{obj.remarks}}を{{ obj.operation }}しました。
                {% elif obj.update_table == 'm_sakuhin_map' %}
                <span id="bind">作品</span><span>{{ obj.target_name }}</span>の関連タイトル{% if '削除' in obj.operation %}から{% else %}に{% endif %}{{obj.remarks}}を{{ obj.operation }}しました。
                {% elif obj.update_table == 'm_seinendai' %}
                <span>{{ obj.target_name }}</span>の性年代情報を{{ obj.operation }}しました。
                {% else %}
                <span>{{ obj.target_name }}</span>を{{ obj.operation }}しました。
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <table class="input-table history-table list-area">
        <tr>
            <th>CSVダウンロード</th>
            <td class="">
                <div class="history-select">
                    <select name="filter" id="filter-select">
                        <option value="all">全件</option>
                        <option value="date">期間選択</option>
                    </select>
                </div>
                <div class="history-date">
                    <div class="start-end-date">
                        <input type="text" id="date-start" name="date-start" class="datepicker date">
                        <span class="wavy-line">～</span>
                        <input type="text" id="date-end" name="date-end" class="datepicker date"></div>
                </div>
                <div class="history-button-area">
                    <div id="csv-change-table" class="base-button csv-download-button history-download-button">ダウンロード
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>