{% extends 'admin_app/base/b00_base.html' %}
{% block page_title %}アニメマスタ 新規登録{% endblock %}
{% block extra_head %}

<!-- jQuery -->
{% include 'admin_app/base/b01_import_jquery.html' %}

<!-- 共通 -->
{% include 'admin_app/base/b03_import_common.html' %}

<!-- 入力系共通 -->
{% include 'admin_app/base/b05_import_inpututil.html' %}

<!-- 個別 -->
{% load static %}
<script src="{% static 'admin_app/javascript/05_anime/20512_anime_create.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin_app/css/05_anime/20512_anime_create.css' %}">

{% endblock %}
{% block content %}
{% include 'admin_app/base/b09_create_menu.html' %}

<div class="contents">
    {% if object_to_html.create_error_anime %}
    <div class="status-msg submit-error-msg">既にアニメ情報が登録されているため、新規登録を行うことが出来ません。</div>
    {% elif object_to_html.insert_error_anime %}
    <div class="status-msg submit-error-msg">既にアニメ情報が登録されているため、新規登録を行うことが出来ませんでした。</div>
    {% endif %}
    <h4>アニメマスタ 新規登録</h4>
    <form action="{% url 'admin_app:20512_anime_create' %}?ipc={{ object_to_html.form.ip_code }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-area">
            <table class="input-table">
                <tbody>
                    <tr>
                        <th>IPコード</th>
                        <td>
                            <input type="hidden" id="ip-code" name="ip_code" value="{{ object_to_html.form.ip_code }}" readonly />
                            {{ object_to_html.form.ip_code }}
                        </td>
                    </tr>
                    <tr>
                        <th>IP名</th>
                        <td>
                            <input type="hidden" id="ip-name" name="ip_name" class="middle" maxlength="100" value="{{ object_to_html.form.ip_name }}" readonly />
                            {{ object_to_html.form.ip_name }}
                        </td>
                    </tr>
                    <tr>
                        <th class="required">
                            Wikipedia - </br>アニメタイトル
                        </th>
                        <td>
                            {% if object_to_html.errors.tv_program_name %}
                            {% for obj in object_to_html.errors.tv_program_name %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】で入力してください。
                            <input type="text" class="large anime-title" id="tv-program-name" name="tv_program_name" value="{{ object_to_html.form.tv_program_name }}" />
                        </td>
                    </tr>
                    <tr class="tr-broadcast">
                        <th>放送期間／放送局</th>
                        <td>

                            <div>放送期間:</div>
                            <textarea id="period" name="period" class="textara middle broadcast-period">{{ object_to_html.form.period }}</textarea>
                            <div class="spacer-8"></div>
                            {% if object_to_html.errors.broadcaster %}
                            {% for obj in object_to_html.errors.broadcaster %}
                            <div class="input-err-msg">{{obj.message}}</div>
                            {% endfor %}
                            {% endif %}
                            【100文字以内】で入力してください。
                            <div>放送局:</div>
                            <textarea id="broadcaster" name="broadcaster" class="middle textarea ">{{ object_to_html.form.broadcaster }}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="button-area">
                <div class="back-button-area">
                    <div class="base-button blue back-button">一覧に戻る</div>
                </div>
                <div class="next-button-area">
                    <input type="submit" value="保存" class="save-button base-button next-button" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}